<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="cadastro-usurio">
      <div class="bg"></div>
      <p class="para-permanecer">Para permanecer conectado,<br />faça login usando suas <br />informações pessoais</p>
      <div class="text-wrapper">Bem Vindo de Volta!</div>
      <div class="div">Criar Conta</div>
      <div class="campo-senha">
        <div class="rectangle"></div>
        <div class="text-wrapper-2">Senha</div>
        <div class="text-wrapper-3">*****************</div>
        <div class="eye"><img class="icon" src="img/icon.svg" /></div>
      </div>
      <div class="campo-e-mail">
        <div class="rectangle"></div>
        <div class="text-wrapper-2">E-mail</div>
        <div class="text-wrapper-3">exemplo@gmail.com</div>
      </div>
      <div class="campo-nome-usurio">
        <div class="rectangle"></div>
        <div class="text-wrapper-2">Nome de Usuário</div>
        <div class="text-wrapper-3">Fulano_1234</div>
      </div>
      <div class="campo-nome">
        <div class="rectangle"></div>
        <div class="text-wrapper-2">Nome</div>
        <div class="text-wrapper-3">Fulano de Tal</div>
      </div>
      <div class="boto-cadastrar">
        <div class="rectangle-2"></div>
        <div class="text-wrapper-4">Cadastrar</div>
      </div>
      <div class="redirecionar-login">
        <div class="rectangle-3"></div>
        <div class="text-wrapper-5">Fazer Login</div>
      </div>
      <div class="boto-cliente">
        <div class="rectangle-4"></div>
        <div class="text-wrapper-6">Cliente</div>
      </div>
      <div class="boto-cliente-2">
        <div class="rectangle-5"></div>
        <div class="text-wrapper-7">Feirante</div>
      </div>
      <div class="NOME-DO-SITE">Feira da Lua</div>
    </div>
  </body>
</html>
