.cadastro-usurio {
  background-color: #38952c;
  width: 100%;
  min-width: 1920px;
  height: 1024px;
  position: relative;
}

.cadastro-usurio .bg {
  position: absolute;
  top: 0;
  left: 753px;
  width: 1167px;
  height: 1024px;
  background-color: #ffffff;
}

.cadastro-usurio .para-permanecer {
  position: absolute;
  top: 441px;
  left: 135px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: 43.4px;
}

.cadastro-usurio .text-wrapper {
  position: absolute;
  top: 376px;
  left: 117px;
  font-family: "Poppins-Black", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: 65.0px;
  white-space: nowrap;
}

.cadastro-usurio .div {
  position: absolute;
  top: 159px;
  left: 1001px;
  font-family: "Poppins-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 48px;
  letter-spacing: 0;
  line-height: 65.0px;
  white-space: nowrap;
}

.cadastro-usurio .campo-senha {
  top: 604px;
  position: absolute;
  left: 1001px;
  width: 675px;
  height: 104px;
}

.cadastro-usurio .rectangle {
  position: absolute;
  top: 27px;
  left: 0;
  width: 671px;
  height: 77px;
  background-color: #ebebeb;
  border-radius: 8px;
}

.cadastro-usurio .text-wrapper-2 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27.1px;
  white-space: nowrap;
}

.cadastro-usurio .text-wrapper-3 {
  position: absolute;
  top: 52px;
  left: 26px;
  opacity: 0.5;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27.1px;
  white-space: nowrap;
}

.cadastro-usurio .eye {
  position: absolute;
  top: 45px;
  left: 614px;
  width: 39px;
  height: 38px;
}

.cadastro-usurio .icon {
  position: absolute;
  width: 91.67%;
  height: 66.67%;
  top: 11.40%;
  left: 0;
}

.cadastro-usurio .campo-e-mail {
  position: absolute;
  top: 483px;
  left: 1001px;
  width: 675px;
  height: 104px;
}

.cadastro-usurio .campo-nome-usurio {
  position: absolute;
  top: 362px;
  left: 1001px;
  width: 675px;
  height: 104px;
}

.cadastro-usurio .campo-nome {
  top: 241px;
  position: absolute;
  left: 1001px;
  width: 675px;
  height: 104px;
}

.cadastro-usurio .boto-cadastrar {
  position: absolute;
  top: 760px;
  left: 1106px;
  width: 463px;
  height: 77px;
}

.cadastro-usurio .rectangle-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 461px;
  height: 77px;
  background-color: #38952c;
  border-radius: 100px;
}

.cadastro-usurio .text-wrapper-4 {
  position: absolute;
  top: 25px;
  left: 179px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27.1px;
  white-space: nowrap;
}

.cadastro-usurio .redirecionar-login {
  position: absolute;
  top: 599px;
  left: 129px;
  width: 487px;
  height: 68px;
}

.cadastro-usurio .rectangle-3 {
  position: absolute;
  top: -5px;
  left: -5px;
  width: 495px;
  height: 78px;
  border-radius: 100px;
  border: 5px solid;
  border-color: #ffffff;
}

.cadastro-usurio .text-wrapper-5 {
  position: absolute;
  top: 12px;
  left: 155px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: 43.4px;
  white-space: nowrap;
}

.cadastro-usurio .boto-cliente {
  position: absolute;
  top: 174px;
  left: 1361px;
  width: 152px;
  height: 36px;
}

.cadastro-usurio .rectangle-4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 36px;
  background-color: #38952c;
  border-radius: 100px;
  border: 1px solid;
  border-color: transparent;
}

.cadastro-usurio .text-wrapper-6 {
  position: absolute;
  top: 4px;
  left: 40px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27.1px;
  white-space: nowrap;
}

.cadastro-usurio .boto-cliente-2 {
  position: absolute;
  width: 7.92%;
  height: 3.52%;
  top: 16.99%;
  left: 79.27%;
}

.cadastro-usurio .rectangle-5 {
  position: absolute;
  width: 98.68%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 100px;
  border: 1px solid;
  border-color: #000000;
}

.cadastro-usurio .text-wrapper-7 {
  position: absolute;
  width: 53.29%;
  height: 75.00%;
  top: 11.11%;
  left: 23.03%;
  -webkit-text-stroke: 1px #000000;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27.1px;
  white-space: nowrap;
}

.cadastro-usurio .NOME-DO-SITE {
  position: absolute;
  top: 44px;
  left: 36px;
  font-family: "Poppins-Black", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 46px;
  letter-spacing: 0;
  line-height: 62.3px;
  white-space: nowrap;
}
