.lista-de-comentrios {
  background-color: #f4f4f4;
  width: 100%;
  min-width: 1920px;
  height: 1024px;
  position: relative;
}

.element-estrela-lista-de-comentrios {
  position: absolute;
  top: 76px;
  left: 69px;
  width: 40px;
  height: 40px;
  background-image: url(./img/star-filled.svg);
  background-size: 100% 100%;
}

.text-wrapper-lista-de-comentrios {
  position: absolute;
  top: 69px;
  left: 106px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 54.2px;
  white-space: nowrap;
}

.boto-adicionar-lista-de-comentrios {
  position: absolute;
  top: 144px;
  left: 1211px;
  width: 278px;
  height: 51px;
}

.rectangle-lista-de-comentrios {
  left: 0;
  width: 276px;
  height: 51px;
  background-color: #38952c;
  border-radius: 100px;
  position: absolute;
  top: 0;
  cursor: pointer;
}

.div-lista-de-comentrios {
  position: absolute;
  top: 12px;
  left: 19px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27.1px;
  white-space: nowrap;
}

.boto-adicionar-2-lista-de-comentrios {
  position: absolute;
  top: 144px;
  left: 1532px;
  width: 278px;
  height: 51px;
}

.text-wrapper-2-lista-de-comentrios {
  position: absolute;
  top: 12px;
  left: 11px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27.1px;
  white-space: nowrap;
}

.element-estrelas-lista-de-comentrios {
  position: absolute;
  top: 179px;
  left: 72px;
  width: 188px;
  height: 40px;
}

.star-filled-lista-de-comentrios {
  left: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
}

.img-lista-de-comentrios {
  left: 37px;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
}

.star-filled-2-lista-de-comentrios {
  left: 74px;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
}

.star-filled-3-lista-de-comentrios {
  left: 111px;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
}

.star-lista-de-comentrios {
  left: 148px;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
}

.avaliaao-geral-da-lista-de-comentrios {
  position: absolute;
  top: 151px;
  left: 77px;
  width: 313px;
  height: 33px;
}

.text-wrapper-3-lista-de-comentrios {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32.5px;
  white-space: nowrap;
}

.keyboard-arrow-down-lista-de-comentrios {
  position: absolute;
  top: 4px;
  left: 287px;
  width: 24px;
  height: 24px;
  aspect-ratio: 1;
}

.info-produto-lista-de-comentrios {
  position: absolute;
  top: 233px;
  left: 68px;
  width: 1427px;
  height: 222px;
}

.rectangle-2-lista-de-comentrios {
  left: 1px;
  width: 1421px;
  height: 222px;
  background-color: #ffffff;
  border: 0.5px solid;
  border-color: #000000;
  position: absolute;
  top: 0;
}

.text-wrapper-4-lista-de-comentrios {
  position: absolute;
  top: 132px;
  left: 77px;
  width: 304px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27.1px;
}

.text-wrapper-5-lista-de-comentrios {
  position: absolute;
  top: 25px;
  left: 81px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27.1px;
  white-space: nowrap;
}

.element-estrelas-2-lista-de-comentrios {
  position: absolute;
  top: 48px;
  left: 79px;
  width: 125px;
  height: 30px;
}

.icon-wrapper-lista-de-comentrios {
  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  height: 30px;
}

.icon-lista-de-comentrios {
  position: absolute;
  width: 83.33%;
  height: 79.17%;
  top: 12.50%;
  left: 8.34%;
}

.img-wrapper-lista-de-comentrios {
  left: 25px;
  width: 27px;
  height: 30px;
  position: absolute;
  top: 0;
}

.star-filled-4-lista-de-comentrios {
  left: 49px;
  width: 27px;
  height: 30px;
  position: absolute;
  top: 0;
}

.star-2-lista-de-comentrios {
  position: absolute;
  top: 0;
  left: 74px;
  width: 27px;
  height: 30px;
}

.star-3-lista-de-comentrios {
  left: 98px;
  width: 27px;
  height: 30px;
  position: absolute;
  top: 0;
}

.text-wrapper-6-lista-de-comentrios {
  position: absolute;
  top: 80px;
  left: 79px;
  width: 159px;
  opacity: 0.65;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 20.3px;
}

.vector-lista-de-comentrios {
  position: absolute;
  width: 2.71%;
  height: 5.08%;
  top: 25.20%;
  left: 4.22%;
}

.info-produto-2-lista-de-comentrios {
  top: 233px;
  left: 68px;
  width: 1746px;
  position: absolute;
  height: 222px;
}

.rectangle-3-lista-de-comentrios {
  width: 1740px;
  position: absolute;
  top: 0;
  left: 1px;
  height: 222px;
  background-color: #ffffff;
  border: 0.5px solid;
  border-color: #000000;
}

.text-wrapper-7-lista-de-comentrios {
  position: absolute;
  top: 132px;
  left: 94px;
  width: 372px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27.1px;
}

.text-wrapper-8-lista-de-comentrios {
  position: absolute;
  top: 25px;
  left: 99px;
  width: 152px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27.1px;
}

.element-estrelas-3-lista-de-comentrios {
  position: absolute;
  top: 48px;
  left: 97px;
  width: 153px;
  height: 30px;
}

.star-filled-5-lista-de-comentrios {
  left: 1px;
  width: 33px;
  height: 30px;
  position: absolute;
  top: 0;
}

.icon-2-lista-de-comentrios {
  position: absolute;
  width: 83.33%;
  height: 79.17%;
  top: 12.50%;
  left: 8.33%;
}

.star-filled-6-lista-de-comentrios {
  left: 30px;
  width: 33px;
  height: 30px;
  position: absolute;
  top: 0;
}

.star-filled-7-lista-de-comentrios {
  left: 60px;
  width: 33px;
  height: 30px;
  position: absolute;
  top: 0;
}

.star-4-lista-de-comentrios {
  left: 90px;
  width: 33px;
  height: 30px;
  position: absolute;
  top: 0;
}

.star-5-lista-de-comentrios {
  left: 120px;
  width: 33px;
  height: 30px;
  position: absolute;
  top: 0;
}

.text-wrapper-9-lista-de-comentrios {
  width: 195px;
  position: absolute;
  top: 80px;
  left: 97px;
  opacity: 0.65;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 20.3px;
}

.info-produto-3-lista-de-comentrios {
  top: 491px;
  left: 69px;
  width: 1427px;
  position: absolute;
  height: 222px;
}

.info-produto-4-lista-de-comentrios {
  top: 491px;
  left: 69px;
  width: 1745px;
  position: absolute;
  height: 222px;
}

.rectangle-4-lista-de-comentrios {
  width: 1739px;
  position: absolute;
  top: 0;
  left: 1px;
  height: 222px;
  background-color: #ffffff;
  border: 0.5px solid;
  border-color: #000000;
}

.vector-2-lista-de-comentrios {
  top: 50.39%;
  left: 4.27%;
  position: absolute;
  width: 2.71%;
  height: 5.08%;
}

.info-produto-5-lista-de-comentrios {
  top: 749px;
  left: 71px;
  width: 1427px;
  position: absolute;
  height: 222px;
}

.info-produto-6-lista-de-comentrios {
  top: 749px;
  left: 71px;
  width: 1743px;
  position: absolute;
  height: 222px;
}

.rectangle-5-lista-de-comentrios {
  width: 1737px;
  position: absolute;
  top: 0;
  left: 1px;
  height: 222px;
  background-color: #ffffff;
  border: 0.5px solid;
  border-color: #000000;
}

.star-filled-8-lista-de-comentrios {
  left: 0;
  width: 33px;
  height: 30px;
  position: absolute;
  top: 0;
}

.text-wrapper-10-lista-de-comentrios {
  width: 194px;
  position: absolute;
  top: 80px;
  left: 97px;
  opacity: 0.65;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 20.3px;
}

.vector-3-lista-de-comentrios {
  top: 75.59%;
  left: 4.38%;
  position: absolute;
  width: 2.71%;
  height: 5.08%;
}