<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../globals.css" />
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <div class="cadastro-produto">
      <header class="header-cadastro-produto">
        <img class="line-cadastro-produto" src="img/Line 5.svg" />
        <div class="logo-cadastro-produto">
          <div class="text-wrapper-cadastro-produto">Feira da Lua</div>
          <img
            class="vecteezy-icon-new-cadastro-produto"
            src="img/Logo.svg"
          />
        </div>
        <div class="barra-de-pesquisa-cadastro-produto">
          <div class="rectangle-cadastro-produto"></div>
          <div class="div-cadastro-produto">O que deseja?</div>
          <img class="search-cadastro-produto" src="img/search.svg" />
        </div>
        <div class="boto-usurio-cadastro-produto"><img class="user-cadastro-produto" src="img/user.svg" /></div>
        <img class="menu-cadastro-produto" src="img/menu.svg" />
      </header>
      <div class="text-wrapper-2-cadastro-produto">Novo Produto</div>
      <div class="seleo-vendedor-cadastro-produto">
        <div class="rectangle-2-cadastro-produto"></div>
        <div class="text-wrapper-3-cadastro-produto">Vendedor:</div>
        <img class="keyboard-arrow-down-cadastro-produto" src="img/keyboard_arrow_down.svg" />
        <div class="text-wrapper-4-cadastro-produto">Tião Ferragens</div>
      </div>
      <div class="seleo-feira-cadastro-produto">
        <div class="rectangle-2-cadastro-produto"></div>
        <div class="text-wrapper-3-cadastro-produto">Feira:</div>
        <img class="keyboard-arrow-down-cadastro-produto" src="img/keyboard_arrow_down.svg" />
        <div class="text-wrapper-4-cadastro-produto">Feirinha da Ponta</div>
      </div>
      <div class="campo-nome-produto-cadastro-produto">
        <div class="rectangle-3-cadastro-produto"></div>
        <div class="text-wrapper-3-cadastro-produto">Nome do Produto:</div>
        <div class="text-wrapper-4-cadastro-produto">Nome Exemplo</div>
      </div>
      <div class="campo-preco-produto-cadastro-produto">
        <div class="rectangle-4-cadastro-produto"></div>
        <div class="text-wrapper-3-cadastro-produto">Preço:</div>
        <div class="text-wrapper-5-cadastro-produto">R$0,00</div>
      </div>
      <div class="campo-imagem-produto-cadastro-produto">
        <div class="text-wrapper-6-cadastro-produto">Imagem do Produto:</div>
        <div class="rectangle-5-cadastro-produto"></div>
        <div class="boto-selecionar-cadastro-produto">
          <div class="rectangle-6-cadastro-produto"></div>
          <div class="text-wrapper-7-cadastro-produto">Selecionar</div>
        </div>
      </div>
      <div class="boto-modificar-preco-cadastro-produto">
        <div class="ellipse-cadastro-produto"></div>
        <div class="text-wrapper-8-cadastro-produto">-R$10</div>
      </div>
      <div class="boto-modificar-preco-2-cadastro-produto">
        <div class="ellipse-cadastro-produto"></div>
        <div class="text-wrapper-9-cadastro-produto">-R$5</div>
      </div>
      <div class="boto-modificar-preco-3-cadastro-produto">
        <div class="ellipse-cadastro-produto"></div>
        <div class="text-wrapper-9-cadastro-produto">+R$5</div>
      </div>
      <div class="boto-modificar-preco-4-cadastro-produto">
        <div class="ellipse-cadastro-produto"></div>
        <div class="text-wrapper-10-cadastro-produto">+R$10</div>
      </div>
      <p class="p-cadastro-produto">Arraste aqui para fazer o upload</p>
      <img class="img-cadastro-produto" src="img/Line 6.svg" />
    </div>
  </body>
</html>
