<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="cadastro-produto">
      <header class="header">
        <img class="line" src="img/Line 5.svg" />
        <div class="logo">
          <div class="text-wrapper">Feira da Lua</div>
          <img
            class="vecteezy-icon-new"
            src="img/Logo.svg"
          />
        </div>
        <div class="barra-de-pesquisa">
          <div class="rectangle"></div>
          <div class="div">O que deseja?</div>
          <img class="search" src="img/search.svg" />
        </div>
        <div class="boto-usurio"><img class="user" src="img/user.svg" /></div>
        <img class="menu" src="img/menu.svg" />
      </header>
      <div class="text-wrapper-2">Novo Produto</div>
      <div class="seleo-vendedor">
        <div class="rectangle-2"></div>
        <div class="text-wrapper-3">Vendedor:</div>
        <img class="keyboard-arrow-down" src="img/keyboard_arrow_down.svg" />
        <div class="text-wrapper-4">Tião Ferragens</div>
      </div>
      <div class="seleo-feira">
        <div class="rectangle-2"></div>
        <div class="text-wrapper-3">Feira:</div>
        <img class="keyboard-arrow-down" src="img/keyboard_arrow_down.svg" />
        <div class="text-wrapper-4">Feirinha da Ponta</div>
      </div>
      <div class="campo-nome-produto">
        <div class="rectangle-3"></div>
        <div class="text-wrapper-3">Nome do Produto:</div>
        <div class="text-wrapper-4">Nome Exemplo</div>
      </div>
      <div class="campo-preo-produto">
        <div class="rectangle-4"></div>
        <div class="text-wrapper-3">Preço:</div>
        <div class="text-wrapper-5">R$0,00</div>
      </div>
      <div class="campo-imagem-produto">
        <div class="text-wrapper-6">Imagem do Produto:</div>
        <div class="rectangle-5"></div>
        <div class="boto-selecionar">
          <div class="rectangle-6"></div>
          <div class="text-wrapper-7">Selecionar</div>
        </div>
      </div>
      <div class="boto-modificar-preo">
        <div class="ellipse"></div>
        <div class="text-wrapper-8">-R$10</div>
      </div>
      <div class="boto-modificar-preo-2">
        <div class="ellipse"></div>
        <div class="text-wrapper-9">-R$5</div>
      </div>
      <div class="boto-modificar-preo-3">
        <div class="ellipse"></div>
        <div class="text-wrapper-9">+R$5</div>
      </div>
      <div class="boto-modificar-preo-4">
        <div class="ellipse"></div>
        <div class="text-wrapper-10">+R$10</div>
      </div>
      <p class="p">Arraste aqui para fazer o upload</p>
      <img class="img" src="img/line-6.svg" />
    </div>
  </body>
</html>
