.cadastro-produto {
  background-color: #f4f4f4;
  width: 100%;
  min-width: 1920px;
  min-height: 1024px;
  position: relative;
}

.cadastro-produto .header {
  position: absolute;
  top: 16px;
  left: 0;
  width: 1920px;
  height: 98px;
  background-color: transparent;
}

.cadastro-produto .line {
  top: 97px;
  left: 0;
  width: 1920px;
  height: 1px;
  position: absolute;
  object-fit: cover;
}

.cadastro-produto .logo {
  position: absolute;
  top: 0;
  left: 78px;
  width: 225px;
  height: 79px;
  aspect-ratio: 2.82;
}

.cadastro-produto .text-wrapper {
  position: absolute;
  top: 23px;
  left: 73px;
  font-family: "Poppins-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32.5px;
  white-space: nowrap;
}

.cadastro-produto .vecteezy-icon-new {
  position: absolute;
  top: 0;
  left: 0;
  width: 79px;
  height: 79px;
}

.cadastro-produto .barra-de-pesquisa {
  position: absolute;
  top: 12px;
  left: 378px;
  width: 550px;
  height: 55px;
}

.cadastro-produto .rectangle {
  top: 0;
  width: 548px;
  height: 55px;
  background-color: #ffffff;
  border-radius: 100px;
  position: absolute;
  left: 0;
}

.cadastro-produto .div {
  position: absolute;
  top: 14px;
  left: 18px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #00000080;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27.1px;
  white-space: nowrap;
}

.cadastro-produto .search {
  position: absolute;
  top: 8px;
  left: 498px;
  width: 40px;
  height: 40px;
}

.cadastro-produto .boto-usurio {
  position: absolute;
  top: 15px;
  left: 1822px;
  width: 50px;
  height: 50px;
  display: flex;
  background-color: #d9d9d9;
  border-radius: 25px;
}

.cadastro-produto .user {
  margin-top: 4px;
  width: 40px;
  height: 40px;
  margin-left: 5px;
}

.cadastro-produto .menu {
  position: absolute;
  top: 19px;
  left: 30px;
  width: 48px;
  height: 48px;
}

.cadastro-produto .text-wrapper-2 {
  position: absolute;
  top: 176px;
  left: 54px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 43.4px;
  white-space: nowrap;
}

.cadastro-produto .seleo-vendedor {
  top: 350px;
  position: absolute;
  left: 72px;
  width: 442px;
  height: 61px;
}

.cadastro-produto .rectangle-2 {
  top: 27px;
  width: 438px;
  height: 34px;
  background-color: #d9d9d9;
  border: 1px solid;
  border-color: #000000;
  position: absolute;
  left: 0;
}

.cadastro-produto .text-wrapper-3 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27.1px;
  white-space: nowrap;
}

.cadastro-produto .keyboard-arrow-down {
  position: absolute;
  top: 32px;
  left: 406px;
  width: 24px;
  height: 24px;
  aspect-ratio: 1;
}

.cadastro-produto .text-wrapper-4 {
  position: absolute;
  top: 30px;
  left: 12px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #00000080;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27.1px;
  white-space: nowrap;
}

.cadastro-produto .seleo-feira {
  top: 253px;
  position: absolute;
  left: 72px;
  width: 442px;
  height: 61px;
}

.cadastro-produto .campo-nome-produto {
  position: absolute;
  top: 447px;
  left: 72px;
  width: 679px;
  height: 61px;
}

.cadastro-produto .rectangle-3 {
  position: absolute;
  top: 27px;
  left: 0;
  width: 675px;
  height: 34px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.cadastro-produto .campo-preo-produto {
  position: absolute;
  top: 544px;
  left: 72px;
  width: 165px;
  height: 87px;
}

.cadastro-produto .rectangle-4 {
  position: absolute;
  top: 27px;
  left: 0;
  width: 161px;
  height: 60px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.cadastro-produto .text-wrapper-5 {
  position: absolute;
  top: 43px;
  left: 47px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #00000080;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27.1px;
  white-space: nowrap;
}

.cadastro-produto .campo-imagem-produto {
  position: absolute;
  top: 667px;
  left: 72px;
  width: 234px;
  height: 287px;
  display: flex;
  flex-direction: column;
}

.cadastro-produto .text-wrapper-6 {
  width: 207px;
  height: 27px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27.1px;
  white-space: nowrap;
}

.cadastro-produto .rectangle-5 {
  width: 232px;
  height: 218px;
  background-color: #d9d9d9;
  border: 1px dashed;
  border-color: #000000;
}

.cadastro-produto .boto-selecionar {
  margin-left: 34px;
  width: 166px;
  height: 35px;
  position: relative;
  margin-top: 7px;
}

.cadastro-produto .rectangle-6 {
  top: 0;
  width: 164px;
  height: 35px;
  background-color: #38952c;
  border-radius: 100px;
  position: absolute;
  left: 0;
}

.cadastro-produto .text-wrapper-7 {
  position: absolute;
  top: 8px;
  left: 40px;
  width: 87px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20.3px;
  white-space: nowrap;
}

.cadastro-produto .boto-modificar-preo {
  position: absolute;
  top: 573px;
  left: 257px;
  width: 57px;
  height: 55px;
}

.cadastro-produto .ellipse {
  position: absolute;
  top: 0;
  left: 0;
  width: 55px;
  height: 55px;
  background-color: #ffffff;
  border-radius: 27.5px;
  border: 1px solid;
  border-color: #000000;
}

.cadastro-produto .text-wrapper-8 {
  position: absolute;
  top: 17px;
  left: 3px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 21.7px;
  white-space: nowrap;
}

.cadastro-produto .boto-modificar-preo-2 {
  left: 319px;
  position: absolute;
  top: 573px;
  width: 57px;
  height: 55px;
}

.cadastro-produto .text-wrapper-9 {
  position: absolute;
  top: 17px;
  left: 5px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 21.7px;
  white-space: nowrap;
}

.cadastro-produto .boto-modificar-preo-3 {
  left: 381px;
  position: absolute;
  top: 573px;
  width: 57px;
  height: 55px;
}

.cadastro-produto .boto-modificar-preo-4 {
  left: 443px;
  position: absolute;
  top: 573px;
  width: 57px;
  height: 55px;
}

.cadastro-produto .text-wrapper-10 {
  position: absolute;
  top: 17px;
  left: 2px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 21.7px;
  white-space: nowrap;
}

.cadastro-produto .p {
  position: absolute;
  top: 821px;
  left: 90px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16.3px;
  white-space: nowrap;
}

.cadastro-produto .img {
  top: 114px;
  left: 1499px;
  width: 1px;
  height: 910px;
  position: absolute;
  object-fit: cover;
}
