<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="cadastro-cliente">
      <div class="bg"></div>
      <div class="text-wrapper">Criar Conta</div>
      <div class="campo-senha">
        <div class="rectangle"></div>
        <div class="div">Senha</div>
        <div class="text-wrapper-2">*****************</div>
        <div class="eye"><img class="icon" src="img/icon.svg" /></div>
      </div>
      <div class="campo-e-mail">
        <div class="rectangle"></div>
        <div class="div">E-mail</div>
        <div class="text-wrapper-2">exemplo@gmail.com</div>
      </div>
      <div class="campo-nome-usurio">
        <div class="rectangle"></div>
        <div class="div">Nome de Usuário</div>
        <div class="text-wrapper-2">Fulano_1234</div>
      </div>
      <div class="campo-nome">
        <div class="rectangle"></div>
        <div class="div">Nome</div>
        <div class="text-wrapper-2">Fulano de Tal</div>
      </div>
      <div class="boto-cadastrar">
        <div class="rectangle-2"></div>
        <div class="text-wrapper-3">Cadastrar</div>
      </div>
      <div class="boto-cliente">
        <div class="rectangle-3"></div>
        <div class="text-wrapper-4">Cliente</div>
      </div>
      <div class="boto-cliente-2">
        <div class="rectangle-4"></div>
        <div class="text-wrapper-5">Feirante</div>
      </div>
    </div>
  </body>
</html>
