.cadastro-cliente {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 127px 566px;
  position: relative;
  background-color: #f4f4f4;
}

.cadastro-cliente .bg {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 769px;
  background-color: #ffffff;
  border-radius: 8px;
}

.cadastro-cliente .text-wrapper {
  position: absolute;
  top: 182px;
  left: 624px;
  width: 291px;
  font-family: "Poppins-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 48px;
  letter-spacing: 0;
  line-height: 65.0px;
  white-space: nowrap;
}

.cadastro-cliente .campo-senha {
  top: 627px;
  position: absolute;
  left: 624px;
  width: 675px;
  height: 104px;
}

.cadastro-cliente .rectangle {
  top: 27px;
  width: 671px;
  height: 77px;
  background-color: #ebebeb;
  border-radius: 8px;
  position: absolute;
  left: 0;
}

.cadastro-cliente .div {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27.1px;
  white-space: nowrap;
}

.cadastro-cliente .text-wrapper-2 {
  position: absolute;
  top: 52px;
  left: 26px;
  opacity: 0.5;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27.1px;
  white-space: nowrap;
}

.cadastro-cliente .eye {
  position: absolute;
  top: 45px;
  left: 614px;
  width: 39px;
  height: 38px;
}

.cadastro-cliente .icon {
  position: absolute;
  width: 91.67%;
  height: 66.67%;
  top: 11.40%;
  left: 0;
}

.cadastro-cliente .campo-e-mail {
  position: absolute;
  top: 506px;
  left: 624px;
  width: 675px;
  height: 104px;
}

.cadastro-cliente .campo-nome-usurio {
  position: absolute;
  top: 385px;
  left: 624px;
  width: 675px;
  height: 104px;
}

.cadastro-cliente .campo-nome {
  top: 264px;
  position: absolute;
  left: 624px;
  width: 675px;
  height: 104px;
}

.cadastro-cliente .boto-cadastrar {
  position: absolute;
  top: 766px;
  left: 729px;
  width: 463px;
  height: 77px;
}

.cadastro-cliente .rectangle-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 461px;
  height: 77px;
  background-color: #38952c;
  border-radius: 100px;
}

.cadastro-cliente .text-wrapper-3 {
  position: absolute;
  top: 25px;
  left: 179px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27.1px;
  white-space: nowrap;
}

.cadastro-cliente .boto-cliente {
  position: absolute;
  top: 197px;
  left: 984px;
  width: 152px;
  height: 36px;
}

.cadastro-cliente .rectangle-3 {
  top: 0;
  width: 150px;
  height: 36px;
  background-color: #38952c;
  border-radius: 100px;
  border: 1px solid;
  border-color: transparent;
  position: absolute;
  left: 0;
}

.cadastro-cliente .text-wrapper-4 {
  position: absolute;
  top: 4px;
  left: 40px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27.1px;
  white-space: nowrap;
}

.cadastro-cliente .boto-cliente-2 {
  position: absolute;
  width: 7.92%;
  height: 3.52%;
  top: 19.26%;
  left: 59.64%;
}

.cadastro-cliente .rectangle-4 {
  position: absolute;
  width: 98.68%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 100px;
  border: 1px solid;
  border-color: #000000;
}

.cadastro-cliente .text-wrapper-5 {
  position: absolute;
  width: 53.29%;
  height: 75.00%;
  top: 11.11%;
  left: 23.03%;
  -webkit-text-stroke: 1px #000000;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27.1px;
  white-space: nowrap;
}
