.cadastro-cliente {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 127px 566px;
  position: relative;
  background-color: #f4f4f4;
}

.bg-cadastro-cliente {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 769px;
  background-color: #ffffff;
  border-radius: 8px;
}

.text-wrapper-cadastro-cliente {
  position: absolute;
  top: 182px;
  left: 624px;
  width: 291px;
  font-family: "Poppins-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 48px;
  letter-spacing: 0;
  line-height: 65.0px;
  white-space: nowrap;
}

.campo-senha-cadastro-cliente {
  top: 627px;
  position: absolute;
  left: 624px;
  width: 675px;
  height: 104px;
}

.rectangle-cadastro-cliente {
  top: 27px;
  width: 671px;
  height: 77px;
  background-color: #ebebeb;
  border-radius: 8px;
  position: absolute;
  left: 0;

  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  font-size: 20px; 
  color: #000000;
  
}

.div-cadastro-cliente {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27.1px;
  white-space: nowrap;
}

.text-wrapper-2-cadastro-cliente {
  position: absolute;
  top: 52px;
  left: 26px;
  opacity: 0.5;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27.1px;
  white-space: nowrap;
}

.eye-cadastro-cliente {
  position: absolute;
  top: 45px;
  left: 614px;
  width: 39px;
  height: 38px;
}

.icon-cadastro-cliente {
  position: absolute;
  width: 91.67%;
  height: 66.67%;
  top: 11.40%;
  left: 0;
}

.campo-e-mail-cadastro-cliente {
  position: absolute;
  top: 506px;
  left: 624px;
  width: 675px;
  height: 104px;
}

.campo-nome-usurio-cadastro-cliente {
  position: absolute;
  top: 385px;
  left: 624px;
  width: 675px;
  height: 104px;
}

.campo-nome-cadastro-cliente {
  top: 264px;
  position: absolute;
  left: 624px;
  width: 675px;
  height: 104px;
}

.boto-cadastrar-cadastro-cliente {
  position: absolute;
  top: 766px;
  left: 729px;
  width: 463px;
  height: 77px;
}

.rectangle-2-cadastro-cliente {
  position: absolute;
  top: 0;
  left: 0;
  width: 461px;
  height: 77px;
  background-color: #38952c;
  border-radius: 100px;
  cursor: pointer;
}

.text-wrapper-3-cadastro-cliente {
  position: absolute;
  top: 25px;
  left: 179px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27.1px;
  white-space: nowrap;
}

.boto-cliente-cadastro-cliente {
  position: absolute;
  top: 197px;
  left: 984px;
  width: 152px;
  height: 36px;
}

.rectangle-3-cadastro-cliente {
  top: 0;
  width: 150px;
  height: 36px;
  background-color: #38952c;
  border-radius: 100px;
  border: 1px solid;
  border-color: transparent;
  position: absolute;
  left: 0;
  cursor: pointer;
}

.text-wrapper-4-cadastro-cliente {
  position: absolute;
  top: 4px;
  left: 40px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27.1px;
  white-space: nowrap;
}

.boto-cliente-2-cadastro-cliente {
  position: absolute;
  width: 7.92%;
  height: 3.52%;
  top: 19.26%;
  left: 59.64%;
}

.rectangle-4-cadastro-cliente {
  position: absolute;
  width: 98.68%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 100px;
  border: 1px solid;
  border-color: #000000;
  cursor: pointer;
}

.text-wrapper-5-cadastro-cliente {
  position: absolute;
  width: 53.29%;
  height: 75.00%;
  top: 11.11%;
  left: 23.03%;
  -webkit-text-stroke: 1px #000000;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27.1px;
  white-space: nowrap;
}
