<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="cadastro-cliente">
      <div class="bg-cadastro-cliente"></div>
      <div class="text-wrapper-cadastro-cliente">Criar Conta</div>
      <div class="campo-senha-cadastro-cliente">
        <input class="rectangle-cadastro-cliente" placeholder="****"></input>
        <div class="div-cadastro-cliente">Senha</div>
        <div class="eye-cadastro-cliente"><img class="icon-cadastro-cliente" src="img/Eye.svg" /></div>
      </div>
      <div class="campo-e-mail-cadastro-cliente">
        <input class="rectangle-cadastro-cliente" placeholder="exemplo@gmail.com"></input>
        <div class="div-cadastro-cliente">E-mail</div>
      </div>
      <div class="campo-nome-usurio-cadastro-cliente">
        <input class="rectangle-cadastro-cliente" placeholder="Fulano_1234"></input>
        <div class="div-cadastro-cliente">Nome de Usuário</div>
      </div>
      <div class="campo-nome-cadastro-cliente">
        <input class="rectangle-cadastro-cliente" placeholder="Fulano de Tal"></input>
        <div class="div-cadastro-cliente">Nome</div>
      </div>
      <div class="boto-cadastrar-cadastro-cliente">
        <button class="rectangle-2-cadastro-cliente">
          <div class="text-wrapper-3-cadastro-cliente">Cadastrar</div>
        </button>
      </div>
      <div class="boto-cliente-cadastro-cliente">
        <button class="rectangle-3-cadastro-cliente">
          <div class="text-wrapper-4-cadastro-cliente">Cliente</div>
        </button>
      </div>
      <div class="boto-cliente-2-cadastro-cliente">
        <button class="rectangle-4-cadastro-cliente">
          <div class="text-wrapper-5-cadastro-cliente">Feirante</div>
        </button>
      </div>
    </div>
  </body>
</html>
