<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="cadastro-feirante">
      <div class="bg-cadastro-feirante"></div>
      <div class="text-wrapper-cadastro-feirante">Criar Conta</div>
      <div class="campo-telefone-usurio-cadastro-feirante">
        <input class="rectangle-cadastro-feirante" placeholder="(99)99999-9999"></input>
        <div class="div-cadastro-feirante">Telefone</div>
      </div>
      <div class="campo-senha-cadastro-feirante">
        <input class="rectangle-cadastro-feirante" placeholder="****"></input>
        <div class="div-cadastro-feirante">Senha</div>
        <div class="eye-cadastro-feirante"><img class="icon-cadastro-feirante" src="img/Eye.svg" /></div>
      </div>
      <div class="campo-e-mail-cadastro-feirante">
        <input class="rectangle-cadastro-feirante" placeholder="exemplo@gmail.com"></input>
        <div class="div-cadastro-feirante">E-mail</div>
      </div>
      <div class="campo-nome-usurio-cadastro-feirante">
        <input class="rectangle-cadastro-feirante" placeholder="Fulano_1234"></input>
        <div class="div-cadastro-feirante">Nome de Usuário</div>
      </div>
      <div class="campo-nome-cadastro-feirante">
        <input class="rectangle-cadastro-feirante" placeholder="Fulano de Tal"></input>
        <div class="div-cadastro-feirante">Nome</div>
      </div>
      <div class="boto-cadastrar-cadastro-feirante">
        <button class="rectangle-2-cadastro-feirante">
          <div class="text-wrapper-3-cadastro-feirante">Cadastrar</div>
        </button>
      </div>
      <div class="boto-cliente-cadastro-feirante">
        <button class="rectangle-3-cadastro-feirante">
          <div class="text-wrapper-4-cadastro-feirante">Cliente</div>
        </button>
      </div>
      <div class="boto-cliente-2-cadastro-feirante">
        <button class="rectangle-4-cadastro-feirante">
          <div class="text-wrapper-5-cadastro-feirante">Feirante</div>
        </button>
      </div>
    </div>
  </body>
</html>
