<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="lista-de-comentrios">
      <div class="element-estrela-lista-de-comentrios"></div>
      <div class="text-wrapper-lista-de-comentrios">Avaliações da feira</div>
      <div class="boto-adicionar-lista-de-comentrios">
        <button class="rectangle-lista-de-comentrios">
          <div class="div-lista-de-comentrios">Deixar minha avaliação</div>
        </button>
      </div>
      <div class="boto-adicionar-2-lista-de-comentrios">
        <button class="rectangle-lista-de-comentrios">
          <div class="div-lista-de-comentrios">Editar minha avaliação</div>
        </button>
      </div>
      <div class="element-estrelas-lista-de-comentrios">
        <img class="star-filled-lista-de-comentrios" src="img/star_filled.svg" />
        <img class="img-lista-de-comentrios" src="img/star_filled.svg" />
        <img class="star-filled-2-lista-de-comentrios" src="img/star_filled.svg" />
        <img class="star-filled-3-lista-de-comentrios" src="img/star_filled.svg" />
        <img class="star-lista-de-comentrios" src="img/star.svg" />
      </div>
      <div class="avaliaao-geral-da-lista-de-comentrios">
        <div class="text-wrapper-3-lista-de-comentrios">Avaliação geral da feira</div>
        <img class="keyboard-arrow-down-lista-de-comentrios" src="img/keyboard_arrow_down.svg" />
      </div>
      <div class="info-produto-lista-de-comentrios">
        <div class="rectangle-2-lista-de-comentrios"></div>
        <div class="text-wrapper-4-lista-de-comentrios">Comentário</div>
        <div class="text-wrapper-5-lista-de-comentrios">Fulano_1234</div>
        <div class="element-estrelas-2-lista-de-comentrios">
          <div class="icon-wrapper-lista-de-comentrios"><img class="icon" src="img/star_filled.svg" /></div>
          <div class="img-wrapper-lista-de-comentrios"><img class="icon-lista-de-comentrios" src="img/star_filled.svg" /></div>
          <div class="star-filled-4-lista-de-comentrios"><img class="icon-lista-de-comentrios" src="img/star_filled.svg" /></div>
          <div class="star-2-lista-de-comentrios"><img class="icon-lista-de-comentrios" src="img/star_filled.svg" /></div>
          <div class="star-3-lista-de-comentrios"><img class="icon-lista-de-comentrios" src="img/star_filled.svg" /></div>
        </div>
        <div class="text-wrapper-6-lista-de-comentrios">28-11-2025 16:09</div>
      </div>
      <img class="vector-lista-de-comentrios" src="img/Vector.svg" />
      <div class="info-produto-2-lista-de-comentrios">
        <textarea class="rectangle-3-lista-de-comentrios"></textarea>
        <div class="text-wrapper-7-lista-de-comentrios">Comentário.</div>
        <div class="text-wrapper-8-lista-de-comentrios">Fulano_1234</div>
        <div class="element-estrelas-3-lista-de-comentrios">
          <div class="star-filled-5-lista-de-comentrios"><img class="icon-2-lista-de-comentrios" src="img/star_filled.svg" /></div>
          <div class="star-filled-6-lista-de-comentrios"><img class="icon-2-lista-de-comentrios" src="img/star_filled.svg" /></div>
          <div class="star-filled-7-lista-de-comentrios"><img class="icon-2-lista-de-comentrios" src="img/star_filled.svg" /></div>
          <div class="star-4-lista-de-comentrios"><img class="icon-2-lista-de-comentrios" src="img/star_filled.svg" /></div>
          <div class="star-5-lista-de-comentrios"><img class="icon-2-lista-de-comentrios" src="img/star_filled.svg" /></div>
        </div>
        <div class="text-wrapper-9-lista-de-comentrios">28-11-2025 16:09</div>
      </div>
      <img class="vector-lista-de-comentrios" src="img/Vector.svg" />
      <div class="info-produto-3-lista-de-comentrios">
        <div class="rectangle-2-lista-de-comentrios"></div>
        <div class="text-wrapper-4-lista-de-comentrios">Comentário</div>
        <div class="text-wrapper-5-lista-de-comentrios">Fulano_1234</div>
        <div class="element-estrelas-2-lista-de-comentrios">
          <div class="icon-wrapper-lista-de-comentrios"><img class="icon-lista-de-comentrios" src="img/star_filled.svg" /></div>
          <div class="img-wrapper-lista-de-comentrios"><img class="icon-lista-de-comentrios" src="img/star_filled.svg" /></div>
          <div class="star-filled-4-lista-de-comentrios"><img class="icon-lista-de-comentrios" src="img/star_filled.svg" /></div>
          <div class="star-2-lista-de-comentrios"><img class="icon-lista-de-comentrios" src="img/star_filled.svg" /></div>
          <div class="star-3-lista-de-comentrios"><img class="icon-lista-de-comentrios" src="img/star_filled.svg" /></div>
        </div>
        <div class="text-wrapper-6-lista-de-comentrios">28-11-2025 16:09</div>
      </div>
      <div class="info-produto-4-lista-de-comentrios">
        <textarea class="rectangle-4-lista-de-comentrios"></textarea>
        <div class="text-wrapper-7-lista-de-comentrios">Comentário.</div>
        <div class="text-wrapper-8-lista-de-comentrios">Fulano_1234</div>
        <div class="element-estrelas-3-lista-de-comentrios">
          <div class="star-filled-5-lista-de-comentrios"><img class="icon-2-lista-de-comentrios" src="img/star_filled.svg" /></div>
          <div class="star-filled-6-lista-de-comentrios"><img class="icon-2-lista-de-comentrios" src="img/star_filled.svg" /></div>
          <div class="star-filled-7-lista-de-comentrios"><img class="icon-2-lista-de-comentrios" src="img/star_filled.svg" /></div>
          <div class="star-4-lista-de-comentrios"><img class="icon-2-lista-de-comentrios" src="img/star_filled.svg" /></div>
          <div class="star-5-lista-de-comentrios"><img class="icon-2-lista-de-comentrios" src="img/star_filled.svg" /></div>
        </div>
        <div class="text-wrapper-9-lista-de-comentrios">28-11-2025 16:09</div>
      </div>
      <img class="vector-2-lista-de-comentrios" src="img/Vector.svg" />
      <img class="vector-2-lista-de-comentrios" src="img/Vector.svg" />
      <div class="info-produto-5-lista-de-comentrios">
        <div class="rectangle-2-lista-de-comentrios"></div>
        <div class="text-wrapper-4-lista-de-comentrios">Comentário</div>
        <div class="text-wrapper-5-lista-de-comentrios">Fulano_1234</div>
        <div class="element-estrelas-2-lista-de-comentrios">
          <div class="icon-wrapper-lista-de-comentrios"><img class="icon-lista-de-comentrios" src="img/star_filled.svg" /></div>
          <div class="img-wrapper-lista-de-comentrios"><img class="icon-lista-de-comentrios" src="img/star_filled.svg" /></div>
          <div class="star-filled-4-lista-de-comentrios"><img class="icon-lista-de-comentrios" src="img/star_filled.svg" /></div>
          <div class="star-2-lista-de-comentrios"><img class="icon-lista-de-comentrios" src="img/star_filled.svg" /></div>
          <div class="star-3-lista-de-comentrios"><img class="icon-lista-de-comentrios" src="img/star_filled.svg" /></div>
        </div>
        <div class="text-wrapper-6-lista-de-comentrios">28-11-2025 16:09</div>
      </div>
      <div class="info-produto-6-lista-de-comentrios">
        <textarea class="rectangle-5-lista-de-comentrios"></textarea>
        <div class="text-wrapper-7-lista-de-comentrios">Comentário.</div>
        <div class="text-wrapper-8-lista-de-comentrios">Fulano_1234</div>
        <div class="element-estrelas-3-lista-de-comentrios">
          <div class="star-filled-8-lista-de-comentrios"><img class="icon-2-lista-de-comentrios" src="img/star_filled.svg" /></div>
          <div class="star-filled-6-lista-de-comentrios"><img class="icon-2-lista-de-comentrios" src="img/star_filled.svg" /></div>
          <div class="star-filled-7-lista-de-comentrios"><img class="icon-2-lista-de-comentrios" src="img/star_filled.svg" /></div>
          <div class="star-4-lista-de-comentrios"><img class="icon-2-lista-de-comentrios" src="img/star_filled.svg" /></div>
          <div class="star-5-lista-de-comentrios"><img class="icon-2-lista-de-comentrios" src="img/star_filled.svg" /></div>
        </div>
        <div class="text-wrapper-10-lista-de-comentrios">28-11-2025 16:09</div>
      </div>
      <img class="vector-3-lista-de-comentrios" src="img/Vector.svg" />
      <img class="vector-3-lista-de-comentrios" src="img/Vector.svg" />
    </div>
  </body>
</html>
