<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="display_produtos">
      <div class="info-produto-display_produtos">
        <div class="rectangle-display_produtos"></div>
        <div class="boto-adicionar-display_produtos">
          <div class="div-display_produtos"></div>
          <div class="text-wrapper-display_produtos">Adicionar</div>
        </div>
        <div class="seleo-quantidade-display_produtos">
          <div class="rectangle-2-display_produtos"></div>
          <div class="text-wrapper-2-display_produtos">1</div>
          <img class="keyboard-arrow-down-display_produtos" src="img/keyboard-arrow-down.svg" />
        </div>
        <div class="descrio-produto-display_produtos">
          <div class="text-wrapper-3-display_produtos">Jogo de copos<br />4 unidades</div>
          <div class="text-wrapper-4-display_produtos">R$25,00</div>
          <div class="text-wrapper-5-display_produtos">R$6,25/unidade</div>
        </div>
        <img
          class="panodeprato-display_produtos"
          src="img/panodeprato-estampado-kit-10-panos-de-prato-com-vies-estampado-p-1652878180312-1-4.png"
        />
        <div class="text-wrapper-6-display_produtos">Arienne Essenciais</div>
      </div>
      <div class="info-produto-2-display_produtos">
        <div class="rectangle-display_produtos"></div>
        <div class="boto-adicionar-display_produtos">
          <div class="div-display_produtos"></div>
          <div class="text-wrapper-display_produtos">Adicionar</div>
        </div>
        <div class="seleo-quantidade-display_produtos">
          <div class="rectangle-2-display_produtos"></div>
          <div class="text-wrapper-2-display_produtos">1</div>
          <img class="img-display_produtos" src="img/keyboard-arrow-down-2.png" />
        </div>
        <div class="descrio-produto-display_produtos">
          <div class="text-wrapper-3-display_produtos">Jogo de copos<br />4 unidades</div>
          <div class="text-wrapper-4-display_produtos">R$25,00</div>
          <div class="text-wrapper-5-display_produtos">R$6,25/unidade</div>
        </div>
        <img
          class="panodeprato-2-display_produtos"
          src="img/panodeprato-estampado-kit-10-panos-de-prato-com-vies-estampado-p-1652878180312-1-3.png"
        />
        <div class="text-wrapper-6-display_produtos">Arienne Essenciais</div>
      </div>
      <div class="info-produto-3-display_produtos">
        <div class="rectangle-display_produtos"></div>
        <div class="boto-adicionar-display_produtos">
          <div class="div-display_produtos"></div>
          <div class="text-wrapper-display_produtos">Adicionar</div>
        </div>
        <div class="seleo-quantidade-display_produtos">
          <div class="rectangle-2-display_produtos"></div>
          <div class="text-wrapper-2-display_produtos">1</div>
          <img class="keyboard-arrow-down-display_produtos" src="img/keyboard-arrow-down.svg" />
        </div>
        <div class="descrio-produto-2-display_produtos">
          <div class="text-wrapper-3-display_produtos">Muda de Orégano<br />Pote Plástico</div>
          <div class="text-wrapper-4-display_produtos">R$34,00</div>
          <div class="text-wrapper-5-display_produtos">R$34/unidade</div>
        </div>
        <img
          class="panodeprato-3-display_produtos"
          src="img/panodeprato-estampado-kit-10-panos-de-prato-com-vies-estampado-p-1652878180312-1-2.png"
        />
        <div class="bot-nica-cia-display_produtos">Botânica &amp; Cia</div>
      </div>
      <div class="info-produto-4-display_produtos">
        <div class="rectangle-display_produtos"></div>
        <div class="boto-adicionar-display_produtos">
          <div class="div-display_produtos"></div>
          <div class="text-wrapper-display_produtos">Adicionar</div>
        </div>
        <div class="seleo-quantidade-display_produtos">
          <div class="rectangle-2-display_produtos"></div>
          <div class="text-wrapper-2-display_produtos">1</div>
          <img class="img-display_produtos" src="img/keyboard-arrow-down.png" />
        </div>
        <div class="descrio-produto-2-display_produtos">
          <div class="text-wrapper-3-display_produtos">Muda de Orégano<br />Pote Plástico</div>
          <div class="text-wrapper-4-display_produtos">R$34,00</div>
          <div class="text-wrapper-5-display_produtos">R$34/unidade</div>
        </div>
        <img class="panodeprato-4-display_produtos" src="img/image.png" />
        <div class="bot-nica-cia-display_produtos">Botânica &amp; Cia</div>
      </div>
      <div class="info-produto-5-display_produtos">
        <div class="rectangle-display_produtos"></div>
        <div class="boto-adicionar-display_produtos">
          <div class="div-display_produtos"></div>
          <div class="text-wrapper-display_produtos">Adicionar</div>
        </div>
        <div class="seleo-quantidade-display_produtos">
          <div class="rectangle-2-display_produtos"></div>
          <div class="text-wrapper-2-display_produtos">1</div>
          <img class="keyboard-arrow-down-display_produtos" src="img/keyboard-arrow-down.svg" />
        </div>
        <div class="descrio-produto-3-display_produtos">
          <div class="text-wrapper-3-display_produtos">Kit Ferramentas<br />132 peças</div>
          <div class="text-wrapper-4-display_produtos">R$56,00</div>
          <div class="text-wrapper-7-display_produtos">R$56/unidade</div>
        </div>
        <img class="element-display_produtos" src="img/176336-300-300-1.png" />
        <div class="text-wrapper-8-display_produtos">Tião Ferragens</div>
      </div>
      <div class="info-produto-6-display_produtos">
        <div class="rectangle-display_produtos"></div>
        <div class="boto-adicionar-display_produtos">
          <div class="div-display_produtos"></div>
          <div class="text-wrapper-display_produtos">Adicionar</div>
        </div>
        <div class="seleo-quantidade-display_produtos">
          <div class="rectangle-2-display_produtos"></div>
          <div class="text-wrapper-2-display_produtos">1</div>
          <img class="img-display_produtos" src="img/keyboard-arrow-down-3.png" />
        </div>
        <div class="descrio-produto-3-display_produtos">
          <div class="text-wrapper-3-display_produtos">Kit Ferramentas<br />132 peças</div>
          <div class="text-wrapper-4-display_produtos">R$56,00</div>
          <div class="text-wrapper-7-display_produtos">R$56/unidade</div>
        </div>
        <img class="element-2-display_produtos" src="img/176336-300-300-1-2.png" />
        <div class="text-wrapper-8-display_produtos">Tião Ferragens</div>
      </div>
      <div class="info-produto-7-display_produtos">
        <div class="rectangle-display_produtos"></div>
        <div class="boto-adicionar-display_produtos">
          <div class="div-display_produtos"></div>
          <div class="text-wrapper-display_produtos">Adicionar</div>
        </div>

        <div class="seleo-quantidade-display_produtos">
          <div class="rectangle-2-display_produtos"></div>
          <div class="text-wrapper-2-display_produtos">1</div>
          <img class="keyboard-arrow-down-display_produtos" src="img/keyboard-arrow-down.svg" />
        </div>

        <div class="descrio-produto-4-display_produtos">
          <p class="text-wrapper-3-display_produtos">Pano de Prato <br />45x65 cm</p>
          <div class="text-wrapper-4-display_produtos">R$10,00</div>
          <div class="text-wrapper-7-display_produtos">R$10/unidade</div>
        </div>
        <img
          class="panodeprato-display_produtos"
          src="img/panodeprato-estampado-kit-10-panos-de-prato-com-vies-estampado-p-1652878180312-1.png"
        />
        <div class="text-wrapper-6-display_produtos">Arienne Essenciais</div>
      </div>
      <div class="info-produto-8-display_produtos">
        <div class="rectangle-display_produtos"></div>
        <div class="boto-adicionar-display_produtos">
          <div class="div-display_produtos"></div>
          <div class="text-wrapper-display_produtos">Adicionar</div>
        </div>
        <div class="seleo-quantidade-display_produtos">
          <div class="rectangle-2-display_produtos"></div>
          <div class="text-wrapper-2-display_produtos">1</div>
          <img class="img-display_produtos" src="img/keyboard-arrow-down-4.png" />
        </div>
        <div class="descrio-produto-4-display_produtos">
          <p class="text-wrapper-3-display_produtos">Pano de Prato <br />45x65 cm</p>
          <div class="text-wrapper-4-display_produtos">R$10,00</div>
          <div class="text-wrapper-7-display_produtos">R$10/unidade</div>
        </div>
        <img
          class="panodeprato-2-display_produtos"
          src="img/panodeprato-estampado-kit-10-panos-de-prato-com-vies-estampado-p-1652878180312-1-5.png"
        />
        <div class="text-wrapper-6-display_produtos">Arienne Essenciais</div>
      </div>
      <div class="boto-adicionar-2-display_produtos">
        <div class="rectangle-3-display_produtos"></div>
        <div class="text-wrapper-9-display_produtos">Finalizar compra</div>
      </div>
      <div class="text-wrapper-10-display_produtos">Carrinho</div>
      <div class="barra-de-pesquisa-display_produtos">
        <div class="rectangle-4-display_produtos"></div>
        <div class="text-wrapper-11-display_produtos">O que deseja?</div>
        <img class="search-display_produtos" src="img/search.svg" />
      </div>
      <div class="boto-usurio-display_produtos"><img class="user" src="img/user.svg" /></div>
      <div class="text-wrapper-12-display_produtos">Feirinha da Ponta</div>
      <div class="logo-display_produtos">
        <div class="text-wrapper-13-display_produtos">Feira da Lua</div>
        <img class="vecteezy-icon-new-display_produtos" src="img/Logo.svg" />
      </div>
      <div class="subtotal-display_produtos">
        <div class="text-wrapper-14-display_produtos">Subtotal</div>
        <img class="shopping-cart-display_produtos" src="img/shopping-cart.svg" />
        <div class="text-wrapper-15-display_produtos">R$78,00</div>
      </div>
      <div class="filtro-ordenao-display_produtos">
        <div class="rectangle-5-display_produtos"></div>
        <div class="text-wrapper-16-display_produtos">Ordenar por:</div>
        <select name="categorias" id="categorias" class="rectangle-3-pagina-de-feiras">
            <option value="Distancia" class="text-wrapper-18-display_produtos">
              <div class="text-wrapper-18-display_produtos">Nenhum</div></option>
            <option value="Preco" class="text-wrapper-18-display_produtos">
              <div class="text-wrapper-18-display_produtos">Preço(menor - maior)</div></option>
            <option value="Avaliacoes" class="text-wrapper-18-display_produtos">
              <div class="text-wrapper-18-display_produtos">Preço(maior - menor)</div></option>
          </select>
      </div>
      <div class="filtro-vendedor-display_produtos">
        <div class="rectangle-5-display_produtos"></div>
        <label for="categorias" class="text-wrapper-16-display_produtos">Vendedor</label>
          <select name="categorias" id="categorias" class="rectangle-3-pagina-de-feiras">
            <option value="Distancia" class="text-wrapper-18-display_produtos">
              <div class="text-wrapper-18-display_produtos">Todos</div></option>
            <option value="Preco" class="text-wrapper-18-display_produtos">
              <div class="text-wrapper-18-display_produtos">Plinio Cruz</div></option>
            <option value="Avaliacoes" class="text-wrapper-18-display_produtos">
              <div class="text-wrapper-18-display_produtos">Papaléguas</div></option>
            <option value="Produtos" class="text-wrapper-18-display_produtos">
              <div class="text-wrapper-18-display_produtos">Pericarpo</div></option>
          </select>
      </div>
      <div class="filtro-nome-display_produtos">
        <input type="text" class="rectangle-6-display_produtos"><br><br>
        <img class="search-2-display_produtos" src="img/search.svg" />
        <div class="text-wrapper-16-display_produtos">Pesquisa por nome:</div>
      </div>
      <img class="menu-display_produtos" src="img/menu.svg" />
      <img class="line-display_produtos" src="img/line-7.svg" />
      <img class="line-2-display_produtos" src="img/line-8.svg" />
      <div class="rectangle-7-display_produtos"></div>
      <div class="produto-carrinho-display_produtos">
        <div class="rectangle-8-display_produtos"></div>
        <img
          class="panodeprato-5-display_produtos"
          src="img/panodeprato-estampado-kit-10-panos-de-prato-com-vies-estampado-p-1652878180312-1-6.png"
        />
        <div class="text-wrapper-19-display_produtos">Muda de Orégano<br />Pote Plástico</div>
        <div class="text-wrapper-20-display_produtos">2</div>
        <img class="plus-circle-display_produtos" src="img/plus-circle-2.svg" />
        <img class="minus-circle-display_produtos" src="img/minus-circle.svg" />
      </div>
      <div class="produto-carrinho-2-display_produtos">
        <div class="rectangle-8-display_produtos"></div>
        <img
          class="panodeprato-6-display_produtos"
          src="img/panodeprato-estampado-kit-10-panos-de-prato-com-vies-estampado-p-1652878180312-2.png"
        />
        <p class="text-wrapper-19-display_produtos">Pano de Prato <br />45x65 cm</p>
        <div class="text-wrapper-20-display_produtos">1</div>
        <img class="plus-circle-display_produtos" src="img/plus-circle.svg" />
        <img class="trash-display_produtos" src="img/trash-2.svg" />
      </div>
    </div>
  </body>
</html>
