<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="pagina-de-feiras">
      <div class="info-feira-pagina-de-feiras">
        <div class="rectangle-pagina-de-feiras"></div>
        <div class="text-wrapper-pagina-de-feiras">Feirinha da Ponta</div>
        <p class="div-pagina-de-feiras"><span class="span-pagina-de-feiras">$</span> <span class="text-wrapper-2-pagina-de-feiras">$$</span></p>
        <div class="distncia-pagina-de-feiras">
          <img class="map-pin-pagina-de-feiras" src="img/Map pin.svg" />
          <div class="text-wrapper-3-pagina-de-feiras">2km</div>
        </div>
        <img class="chevron-forward-pagina-de-feiras" src="img/chevron_forward.svg" />
        <div class="element-estrelas-pagina-de-feiras">
          <img class="star-filled-pagina-de-feiras" src="img/star_filled.svg" />
          <img class="img-pagina-de-feiras" src="img/star_filled.svg" />
          <img class="star-filled-2-pagina-de-feiras" src="img/star_filled.svg" />
          <img class="img-2-pagina-de-feiras" src="img/star_filled.svg" />
          <img class="img-3-pagina-de-feiras" src="img/star.svg" />
        </div>
      </div>
      <div class="info-feira-2-pagina-de-feiras">
        <div class="rectangle-pagina-de-feiras"></div>
        <div class="text-wrapper-pagina-de-feiras">Feira Azul</div>
        <p class="div-pagina-de-feiras"><span class="span-pagina-de-feiras">$</span> <span class="text-wrapper-2-pagina-de-feiras">$$</span></p>
        <div class="distncia-2-pagina-de-feiras">
          <img class="map-pin-pagina-de-feiras" src="img/Map pin.svg" />
          <div class="text-wrapper-4-pagina-de-feiras">5km</div>
        </div>
        <img class="chevron-forward-pagina-de-feiras" src="img/chevron_forward.svg" />
        <div class="element-estrelas-pagina-de-feiras">
          <img class="star-filled-pagina-de-feiras" src="img/star_filled.svg" />
          <img class="img-pagina-de-feiras" src="img/star_filled.svg" />
          <img class="star-filled-2-pagina-de-feiras" src="img/star_filled.svg" />
          <img class="img-2-pagina-de-feiras" src="img/star.svg" />
          <img class="img-3-pagina-de-feiras" src="img/star.svg" />
        </div>
      </div>
      <div class="info-feira-3-pagina-de-feiras">
        <div class="rectangle-pagina-de-feiras"></div>
        <div class="text-wrapper-pagina-de-feiras">Feira Norte Sul</div>
        <p class="div-pagina-de-feiras"><span class="span-pagina-de-feiras">$$</span> <span class="text-wrapper-2-pagina-de-feiras">$</span></p>
        <div class="distncia-2-pagina-de-feiras">
          <img class="map-pin-pagina-de-feiras" src="img/Map pin.svg" />
          <div class="text-wrapper-4-pagina-de-feiras">5km</div>
        </div>
        <img class="chevron-forward-pagina-de-feiras" src="img/chevron_forward.svg" /> 
        <div class="element-estrelas-pagina-de-feiras">
          <img class="star-filled-pagina-de-feiras" src="img/star_filled.svg" />
          <img class="img-pagina-de-feiras" src="img/star_filled.svg" />
          <img class="star-filled-2-pagina-de-feiras" src="img/star_filled.svg" />
          <img class="img-2-pagina-de-feiras" src="img/star_filled.svg" />
          <img class="img-3-pagina-de-feiras" src="img/star_filled.svg" />
        </div>
      </div>
      <img class="union-pagina-de-feiras" src="img/union.svg" />
      <header class="header-pagina-de-feiras">
        <img class="menu-pagina-de-feiras" src="img/menu.svg" />
        <div class="logo-pagina-de-feiras">
          <div class="text-wrapper-5-pagina-de-feiras">Feira da Lua</div>
          <img
            class="vecteezy-icon-new-pagina-de-feiras"
            src="img/Logo.svg"
          />
        </div>
        <div class="barra-de-pesquisa-pagina-de-feiras">
          <div class="rectangle-2-pagina-de-feiras"></div>
          <div class="text-wrapper-6-pagina-de-feiras">O que deseja?</div>
          <img class="search-pagina-de-feiras" src="img/search.svg" />
        </div>
        <div class="boto-usurio-pagina-de-feiras"><img class="user-pagina-de-feiras" src="img/user.svg" /></div>
      </header>
      <div class="filtro-ordenao-pagina-de-feiras">
        <div class="rectangle-3-pagina-de-feiras"></div>
        <div class="text-wrapper-7-pagina-de-feiras">Ordenar por:</div>
        <img class="keyboard-arrow-down-pagina-de-feiras" src="img/keyboard_arrow_down.svg" />
      </div>
      <div class="text-wrapper-8-pagina-de-feiras">Distância</div>
    </div>
  </body>
</html>
