<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="pagina-de-feiras">
      <div class="info-feira-pagina-de-feiras">
        <div class="rectangle-pagina-de-feiras"></div>
        <div class="text-wrapper-pagina-de-feiras">Feirinha da Ponta</div>
        <p class="div-pagina-de-feiras"><span class="span-pagina-de-feiras">$</span> <span class="text-wrapper-2-pagina-de-feiras">$$</span></p>
        <div class="distncia-pagina-de-feiras">
          <img class="map-pin-pagina-de-feiras" src="img/Map pin.svg" />
          <div class="text-wrapper-3-pagina-de-feiras">2km</div>
        </div>
        <a href="https://github.com/leandro-coelhos/Feira-da-Lua"   style="z-index: 9999;">
          <img class="chevron-forward-pagina-de-feiras" src="img/chevron_forward.svg" />
        </a>
        <div class="element-estrelas-pagina-de-feiras">
          <img class="star-filled-pagina-de-feiras" src="img/star_filled.svg" />
          <img class="img-pagina-de-feiras" src="img/star_filled.svg" />
          <img class="star-filled-2-pagina-de-feiras" src="img/star_filled.svg" />
          <img class="img-2-pagina-de-feiras" src="img/star_filled.svg" />
          <img class="img-3-pagina-de-feiras" src="img/star.svg" />
        </div>
      </div>
      <div class="info-feira-2-pagina-de-feiras">
        <div class="rectangle-pagina-de-feiras"></div>
        <div class="text-wrapper-pagina-de-feiras">Feira Azul</div>
        <p class="div-pagina-de-feiras"><span class="span-pagina-de-feiras">$</span> <span class="text-wrapper-2-pagina-de-feiras">$$</span></p>
        <div class="distncia-2-pagina-de-feiras">
          <img class="map-pin-pagina-de-feiras" src="img/Map pin.svg" />
          <div class="text-wrapper-4-pagina-de-feiras">5km</div>
        </div>
        <a href="https://github.com/leandro-coelhos/Feira-da-Lua">
        <img class="chevron-forward-pagina-de-feiras" src="img/chevron_forward.svg" />
        </a>
        <div class="element-estrelas-pagina-de-feiras">
          <img class="star-filled-pagina-de-feiras" src="img/star_filled.svg" />
          <img class="img-pagina-de-feiras" src="img/star_filled.svg" />
          <img class="star-filled-2-pagina-de-feiras" src="img/star_filled.svg" />
          <img class="img-2-pagina-de-feiras" src="img/star.svg" />
          <img class="img-3-pagina-de-feiras" src="img/star.svg" />
        </div>
      </div>
      <div class="info-feira-3-pagina-de-feiras">
        <div class="rectangle-pagina-de-feiras"></div>
        <div class="text-wrapper-pagina-de-feiras">Feira Norte Sul</div>
        <p class="div-pagina-de-feiras"><span class="span-pagina-de-feiras">$$</span> <span class="text-wrapper-2-pagina-de-feiras">$</span></p>
        <div class="distncia-2-pagina-de-feiras">
          <img class="map-pin-pagina-de-feiras" src="img/Map pin.svg" />
          <div class="text-wrapper-4-pagina-de-feiras">5km</div>
        </div>
        <a href="https://github.com/leandro-coelhos/Feira-da-Lua">
        <img class="chevron-forward-pagina-de-feiras" src="img/chevron_forward.svg" /> 
        </a>
        <div class="element-estrelas-pagina-de-feiras">
          <img class="star-filled-pagina-de-feiras" src="img/star_filled.svg" />
          <img class="img-pagina-de-feiras" src="img/star_filled.svg" />
          <img class="star-filled-2-pagina-de-feiras" src="img/star_filled.svg" />
          <img class="img-2-pagina-de-feiras" src="img/star_filled.svg" />
          <img class="img-3-pagina-de-feiras" src="img/star_filled.svg" />
        </div>
      </div>
      <header class="header-pagina-de-feiras">
      <img class="line-cadastro-produto" src="img/Line 5.svg" />
        <button type="button" class = "botao-menu-pagina-de-feiras">
          <img class="menu-pagina-de-feiras" src="img/menu.svg" />
        </button>
        <div class="logo-pagina-de-feiras">
          <a href="https://github.com/leandro-coelhos/Feira-da-Lua">
            <div class="text-wrapper-5-pagina-de-feiras">Feira da Lua</div>
            <img class="vecteezy-icon-new-pagina-de-feiras" src="img/Logo.svg"/>
          </a>
        </div>
        <div class="barra-de-pesquisa-pagina-de-feiras">
          <div class="rectangle-2-pagina-de-feiras"></div>
          <input type="text" class = "text-wrapper-6-pagina-de-feiras"><br><br>
          <button type="button" class="botao-lupa-pagina-de-feiras">
            <img class="search-pagina-de-feiras" src="img/search.svg" />
          </button>
        </div>
        <div class="boto-usurio-pagina-de-feiras">
          <a href="https://github.com/leandro-coelhos/Feira-da-Lua">
            <img class="user-pagina-de-feiras" src="img/user.svg" />
          </a>
        </div>
      </header>
      <div class="filtro-ordenao-pagina-de-feiras">
        <label for="categorias" class="text-wrapper-7-pagina-de-feiras">Ordenar por</label>
          <select name="categorias" id="categorias" class="rectangle-3-pagina-de-feiras">
            <option value="Distancia" class="text-wrapper-8-pagina-de-feiras">
              <div class="text-wrapper-8-pagina-de-feiras">Distância</div></option>
            <option value="Preco" class="text-wrapper-8-pagina-de-feiras">
              <div class="text-wrapper-8-pagina-de-feiras">Preço</div></option>
            <option value="Avaliacoes" class="text-wrapper-8-pagina-de-feiras">
              <div class="text-wrapper-8-pagina-de-feiras">Avaliações</div></option>
            <option value="Produtos" class="text-wrapper-8-pagina-de-feiras">
              <div class="text-wrapper-8-pagina-de-feiras">Produtos</div></option>
          </select>
      </div>
    <img class="img-cadastro-produto" src="img/Line 6.svg" />
    </div>
  </body>
</html>
