{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Feira da Lua</title>
  <link rel="stylesheet" href="{% static 'css/globals.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="container">
    <div class="card">
      <img src="{% static 'img/Logo.svg' %}" alt="Logo Feira da Lua" class="logo">
      <h1 class="titulo-principal">Bem-vindo a</h1>
      <h1 class="titulo-principal">Feira da Lua</h1>
      <p class="subtitulo">Conectando feirantes e clientes</p>
      
      <div class="btn-container">
        <a href="{% url 'login' %}" class="btn btn-primario">Entrar</a>
        <a href="{% url 'registro' %}" class="btn btn-secundario">Criar Conta</a>
      </div>
    </div>
  </div>
</body>
</html>
