<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
    <title>Login</title>
</head>
    <link rel="stylesheet" href="style.css">

<style>
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
    }

    body-login {
    height: 100%;
    }
</style>

<body>
<div class="container-login">
    <div class="esquerda-login"></div>

    <div class="direita-login">
        <div class="login-box-login">
            <h2>Bem vindo à</h2>
            <h1><b>Feira da Lua!</b></h1>

            <input type="text" placeholder="Email" />
            <input type="password" placeholder="Senha" />

            <div class="options-login">
                <label class="remember-login">
                    <input type="checkbox"> Lembre-se de mim
                </label>

                <a href="#" class="forgot-login">Esqueceu a Senha?</a>
            </div>

            <button>Login</button>

            <p class="signup-text-login">
                Não tem uma conta? <a href="#" class="signup-link-login">Registre-se</a>
            </p>
        </div>
    </div>
</div>
</body>

</html>