.cadastro-produto {
  background-color: #f4f4f4;
  width: 100%;
  min-width: 1920px;
  min-height: 1024px;
  position: relative;
}

.header-cadastro-produto {
  position: absolute;
  top: 16px;
  left: 0;
  width: 1920px;
  height: 98px;
  background-color: transparent;
}

.line-cadastro-produto {
  top: 97px;
  left: 0;
  width: 1920px;
  height: 1px;
  position: absolute;
  object-fit: cover;
}

.logo-cadastro-produto {
  position: absolute;
  top: 0;
  left: 78px;
  width: 225px;
  height: 79px;
  aspect-ratio: 2.82;
}

.text-wrapper-cadastro-produto {
  position: absolute;
  top: 23px;
  left: 73px;
  font-family: "Poppins-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32.5px;
  white-space: nowrap;
}

.vecteezy-icon-new-cadastro-produto {
  position: absolute;
  top: 0;
  left: 0;
  width: 79px;
  height: 79px;
}

.barra-de-pesquisa-cadastro-produto {
  position: absolute;
  top: 12px;
  left: 378px;
  width: 550px;
  height: 55px;
}

.rectangle-cadastro-produto {
  top: 0;
  width: 548px;
  height: 55px;
  background-color: #ffffff;
  border-radius: 100px;
  position: absolute;
  left: 0;
}

.div-cadastro-produto {
  position: absolute;
  top: 14px;
  left: 18px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #00000080;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27.1px;
  white-space: nowrap;
}

.search-cadastro-produto {
  position: absolute;
  top: 8px;
  left: 498px;
  width: 40px;
  height: 40px;
}

.boto-usurio-cadastro-produto {
  position: absolute;
  top: 15px;
  left: 1822px;
  width: 50px;
  height: 50px;
  display: flex;
  background-color: #d9d9d9;
  border-radius: 25px;
}

.user-cadastro-produto {
  margin-top: 4px;
  width: 40px;
  height: 40px;
  margin-left: 5px;
}

.menu-cadastro-produto {
  position: absolute;
  top: 19px;
  left: 30px;
  width: 48px;
  height: 48px;
}

.text-wrapper-2-cadastro-produto {
  position: absolute;
  top: 176px;
  left: 54px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 43.4px;
  white-space: nowrap;
}

.seleo-vendedor-cadastro-produto {
  top: 350px;
  position: absolute;
  left: 72px;
  width: 442px;
  height: 61px;
}

.rectangle-2-cadastro-produto {
  top: 27px;
  width: 438px;
  height: 34px;
  background-color: #d9d9d9;
  border: 1px solid;
  border-color: #000000;
  position: absolute;
  left: 0;
}

.text-wrapper-3-cadastro-produto {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27.1px;
  white-space: nowrap;
}

.keyboard-arrow-down-cadastro-produto {
  position: absolute;
  top: 32px;
  left: 406px;
  width: 24px;
  height: 24px;
  aspect-ratio: 1;
}

.text-wrapper-4-cadastro-produto {
  position: absolute;
  top: 30px;
  left: 12px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #00000080;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27.1px;
  white-space: nowrap;
}

.seleo-feira-cadastro-produto {
  top: 253px;
  position: absolute;
  left: 72px;
  width: 442px;
  height: 61px;
}

.campo-nome-produto-cadastro-produto {
  position: absolute;
  top: 447px;
  left: 72px;
  width: 679px;
  height: 61px;
}

.rectangle-3-cadastro-produto {
  position: absolute;
  top: 27px;
  left: 0;
  width: 675px;
  height: 34px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.campo-preco-produto-cadastro-produto {
  position: absolute;
  top: 544px;
  left: 72px;
  width: 165px;
  height: 87px;
}

.rectangle-4-cadastro-produto {
  position: absolute;
  top: 27px;
  left: 0;
  width: 161px;
  height: 60px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.text-wrapper-5-cadastro-produto {
  position: absolute;
  top: 43px;
  left: 47px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #00000080;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27.1px;
  white-space: nowrap;
}

.campo-imagem-produto-cadastro-produto {
  position: absolute;
  top: 667px;
  left: 72px;
  width: 234px;
  height: 287px;
  display: flex;
  flex-direction: column;
}

.text-wrapper-6-cadastro-produto {
  width: 207px;
  height: 27px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27.1px;
  white-space: nowrap;
}

.rectangle-5-cadastro-produto {
  width: 232px;
  height: 218px;
  background-color: #d9d9d9;
  border: 1px dashed;
  border-color: #000000;
}

.boto-selecionar-cadastro-produto {
  margin-left: 34px;
  width: 166px;
  height: 35px;
  position: relative;
  margin-top: 7px;
}

.rectangle-6-cadastro-produto {
  top: 0;
  width: 164px;
  height: 35px;
  background-color: #38952c;
  border-radius: 100px;
  position: absolute;
  left: 0;
}

.text-wrapper-7-cadastro-produto {
  position: absolute;
  top: 8px;
  left: 40px;
  width: 87px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20.3px;
  white-space: nowrap;
}

.boto-modificar-preco-cadastro-produto {
  position: absolute;
  top: 573px;
  left: 257px;
  width: 57px;
  height: 55px;
}

.ellipse-cadastro-produto {
  position: absolute;
  top: 0;
  left: 0;
  width: 55px;
  height: 55px;
  background-color: #ffffff;
  border-radius: 27.5px;
  border: 1px solid;
  border-color: #000000;
}

.text-wrapper-8-cadastro-produto {
  position: absolute;
  top: 17px;
  left: 3px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 21.7px;
  white-space: nowrap;
}

.boto-modificar-preco-2-cadastro-produto {
  left: 319px;
  position: absolute;
  top: 573px;
  width: 57px;
  height: 55px;
}

.text-wrapper-9-cadastro-produto {
  position: absolute;
  top: 17px;
  left: 5px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 21.7px;
  white-space: nowrap;
}

.boto-modificar-preco-3-cadastro-produto {
  left: 381px;
  position: absolute;
  top: 573px;
  width: 57px;
  height: 55px;
}

.boto-modificar-preco-4-cadastro-produto {
  left: 443px;
  position: absolute;
  top: 573px;
  width: 57px;
  height: 55px;
}

.text-wrapper-10-cadastro-produto {
  position: absolute;
  top: 17px;
  left: 2px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 21.7px;
  white-space: nowrap;
}

.p-cadastro-produto {
  position: absolute;
  top: 821px;
  left: 90px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16.3px;
  white-space: nowrap;
}

.img-cadastro-produto {
  top: 114px;
  left: 1499px;
  width: 1px;
  height: 910px;
  position: absolute;
  object-fit: cover;
}










.pagina-de-feiras {
  background-color: #f4f4f4;
  width: 100%;
  min-width: 1920px;
  min-height: 1024px;
  position: relative;
}

.info-feira-pagina-de-feiras {
  position: absolute;
  top: 315px;
  left: 62px;
  width: 682px;
  height: 103px;
}

.rectangle-pagina-de-feiras {
  top: 0;
  width: 678px;
  height: 103px;
  border: 0.75px solid;
  border-color: #000000;
  position: absolute;
  left: 0;
  background-color: #ffffff;
}

.text-wrapper-pagina-de-feiras {
  position: absolute;
  top: 9px;
  left: 24px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 43.4px;
  white-space: nowrap;
}

.div-pagina-de-feiras {
  position: absolute;
  top: 54px;
  left: 187px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: transparent;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 43.4px;
  white-space: nowrap;
}

.span-pagina-de-feiras {
  color: #38952c;
}

.text-wrapper-2-pagina-de-feiras {
  color: #38952c40;
}

.distncia-pagina-de-feiras {
  position: absolute;
  top: 54px;
  left: 28px;
  width: 108px;
  height: 43px;
  display: flex;
  gap: 4px;
}

.map-pin-pagina-de-feiras {
  margin-top: 1px;
  width: 35px;
  height: 35px;
}

.text-wrapper-3-pagina-de-feiras {
  width: 67px;
  height: 43px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #38952c;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 43.4px;
  white-space: nowrap;
}

.chevron-forward-pagina-de-feiras {
  position: absolute;
  top: 24px;
  left: 616px;
  width: 50px;
  height: 50px;
}

.element-estrelas-pagina-de-feiras {
  position: absolute;
  top: 53px;
  left: 286px;
  width: 188px;
  height: 40px;
}

.star-filled-pagina-de-feiras {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
}

.img-pagina-de-feiras {
  left: 37px;
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
}

.star-filled-2-pagina-de-feiras {
  left: 74px;
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
}

.img-2-pagina-de-feiras {
  position: absolute;
  top: 0;
  left: 111px;
  width: 40px;
  height: 40px;
}

.img-3-pagina-de-feiras {
  position: absolute;
  top: 0;
  left: 148px;
  width: 40px;
  height: 40px;
}

.info-feira-2-pagina-de-feiras {
  top: 437px;
  left: 62px;
  position: absolute;
  width: 682px;
  height: 103px;
}

.distncia-2-pagina-de-feiras {
  position: absolute;
  top: 54px;
  left: 28px;
  width: 109px;
  height: 43px;
  display: flex;
  gap: 4px;
}

.text-wrapper-4-pagina-de-feiras {
  width: 68px;
  height: 43px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #38952c;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 43.4px;
  white-space: nowrap;
}

.info-feira-3-pagina-de-feiras {
  top: 315px;
  left: 782px;
  position: absolute;
  width: 682px;
  height: 103px;
}

.union-pagina-de-feiras {
  position: absolute;
  top: 113px;
  left: 0;
  width: 1920px;
  height: 911px;
}

.header-pagina-de-feiras {
  position: absolute;
  top: 16px;
  left: 30px;
  width: 1842px;
  height: 79px;
  display: flex;
  background-color: transparent;
}

.menu-pagina-de-feiras {
  margin-top: 19px;
  width: 48px;
  height: 48px;
}

.logo-pagina-de-feiras {
  width: 225px;
  height: 79.07px;
  position: relative;
  aspect-ratio: 2.82;
}

.text-wrapper-5-pagina-de-feiras {
  position: absolute;
  top: 23px;
  left: 73px;
  font-family: "Poppins-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32.5px;
  white-space: nowrap;
}

.vecteezy-icon-new-pagina-de-feiras {
  position: absolute;
  top: 0;
  left: 0;
  width: 79px;
  height: 79px;
}

.barra-de-pesquisa-pagina-de-feiras {
  margin-top: 12px;
  width: 550px;
  height: 55px;
  position: relative;
  margin-left: 75px;
}

.rectangle-2-pagina-de-feiras {
  top: 0;
  width: 548px;
  height: 55px;
  border-radius: 100px;
  position: absolute;
  left: 0;
  background-color: #ffffff;
}

.text-wrapper-6-pagina-de-feiras {
  position: absolute;
  top: 14px;
  left: 18px;
  width: 500px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #00000080;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27.1px;
  white-space: nowrap;
  border: none;
  outline: none;
}

.search-pagina-de-feiras {
  position: absolute;
  top: 8px;
  left: 498px;
  width: 40px;
  height: 40px;
}

.boto-usurio-pagina-de-feiras {
  margin-top: 15px;
  width: 50px;
  height: 50px;
  margin-left: 894px;
  display: flex;
  background-color: #ffffff;
  border-radius: 25px;
  border: 1px solid;
  border-color: #000000;
}

.user-pagina-de-feiras {
  margin-top: 4px;
  width: 40px;
  height: 40px;
  margin-left: 5px;
}

.filtro-ordenao-pagina-de-feiras {
  position: absolute;
  top: 220px;
  left: 62px;
  width: 295px;
  height: 61px;
}

.rectangle-3-pagina-de-feiras {
  top: 27px;
  width: 293px;
  height: 34px;
  border: 1px solid;
  border-color: #000000;
  position: absolute;
  left: 0;
  background-color: #ffffff;
}

.text-wrapper-7-pagina-de-feiras {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27.1px;
  white-space: nowrap;
}

.keyboard-arrow-down-pagina-de-feiras {
  position: absolute;
  top: 33px;
  left: 263px;
  width: 24px;
  height: 24px;
  aspect-ratio: 1;
}

.text-wrapper-8-pagina-de-feiras {
  position: absolute;
  top: 251px;
  left: 72px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27.1px;
  white-space: nowrap;
}

.botao-menu-pagina-de-feiras {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.botao-lupa-pagina-de-feiras {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.botao-chevron-pagina-de-feiras {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

