.cadastro-feirante {
  background-color: #38952c;
  width: 100%;
  min-width: 1920px;
  min-height: 1024px;
  position: relative;
}

.cadastro-feirante .bg {
  position: absolute;
  top: 0;
  left: 753px;
  width: 1167px;
  height: 1024px;
  background-color: #ffffff;
}

.cadastro-feirante .para-permanecer {
  position: absolute;
  top: 441px;
  left: 135px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: 43.4px;
}

.cadastro-feirante .text-wrapper {
  position: absolute;
  top: 376px;
  left: 117px;
  font-family: "Poppins-Black", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: 65.0px;
  white-space: nowrap;
}

.cadastro-feirante .div {
  position: absolute;
  top: 98px;
  left: 1001px;
  font-family: "Poppins-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 48px;
  letter-spacing: 0;
  line-height: 65.0px;
  white-space: nowrap;
}

.cadastro-feirante .campo-senha {
  top: 664px;
  width: 675px;
  height: 104px;
  position: absolute;
  left: 1001px;
}

.cadastro-feirante .rectangle {
  position: absolute;
  top: 27px;
  left: 0;
  width: 671px;
  height: 77px;
  background-color: #ebebeb;
  border-radius: 8px;
}

.cadastro-feirante .text-wrapper-2 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27.1px;
  white-space: nowrap;
}

.cadastro-feirante .text-wrapper-3 {
  position: absolute;
  top: 52px;
  left: 26px;
  opacity: 0.5;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27.1px;
  white-space: nowrap;
}

.cadastro-feirante .eye {
  position: absolute;
  top: 45px;
  left: 614px;
  width: 39px;
  height: 38px;
}

.cadastro-feirante .icon {
  position: absolute;
  width: 91.67%;
  height: 66.67%;
  top: 11.40%;
  left: 0;
}

.cadastro-feirante .campo-e-mail {
  position: absolute;
  top: 543px;
  left: 1001px;
  width: 675px;
  height: 104px;
}

.cadastro-feirante .campo-nome-usurio {
  position: absolute;
  top: 301px;
  left: 1001px;
  width: 675px;
  height: 104px;
}

.cadastro-feirante .campo-telefone-s {
  top: 422px;
  width: 677px;
  height: 126px;
  position: absolute;
  left: 1001px;
}

.cadastro-feirante .text-wrapper-4 {
  position: absolute;
  top: 104px;
  left: 536px;
  opacity: 0.5;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #3aa6f3;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 21.7px;
  white-space: nowrap;
}

.cadastro-feirante .campo-nome {
  top: 180px;
  width: 675px;
  height: 104px;
  position: absolute;
  left: 1001px;
}

.cadastro-feirante .boto-cadastrar {
  position: absolute;
  top: 820px;
  left: 1106px;
  width: 463px;
  height: 77px;
}

.cadastro-feirante .rectangle-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 461px;
  height: 77px;
  background-color: #38952c;
  border-radius: 100px;
}

.cadastro-feirante .text-wrapper-5 {
  position: absolute;
  top: 25px;
  left: 179px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27.1px;
  white-space: nowrap;
}

.cadastro-feirante .redirecionar-login {
  position: absolute;
  top: 599px;
  left: 129px;
  width: 487px;
  height: 68px;
}

.cadastro-feirante .rectangle-3 {
  position: absolute;
  top: -5px;
  left: -5px;
  width: 495px;
  height: 78px;
  border-radius: 100px;
  border: 5px solid;
  border-color: #ffffff;
}

.cadastro-feirante .text-wrapper-6 {
  position: absolute;
  top: 12px;
  left: 155px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: 43.4px;
  white-space: nowrap;
}

.cadastro-feirante .boto-cliente {
  position: absolute;
  top: 113px;
  left: 1361px;
  width: 152px;
  height: 36px;
}

.cadastro-feirante .rectangle-4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 36px;
  border-radius: 100px;
  border: 1px solid;
  border-color: #000000;
}

.cadastro-feirante .text-wrapper-7 {
  position: absolute;
  top: 4px;
  left: 40px;
  -webkit-text-stroke: 1px #000000;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27.1px;
  white-space: nowrap;
}

.cadastro-feirante .boto-cliente-2 {
  position: absolute;
  top: 113px;
  left: 1522px;
  width: 152px;
  height: 36px;
}

.cadastro-feirante .rectangle-5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 36px;
  background-color: #38952c;
  border-radius: 100px;
  border: 1px solid;
  border-color: #ffffff;
}

.cadastro-feirante .text-wrapper-8 {
  position: absolute;
  top: 4px;
  left: 35px;
  -webkit-text-stroke: 1px #ffffff;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27.1px;
  white-space: nowrap;
}

.cadastro-feirante .line {
  position: absolute;
  top: 531px;
  left: 1520px;
  width: 14px;
  height: 17px;
  object-fit: cover;
}

.cadastro-feirante .union {
  position: absolute;
  top: 530px;
  left: 1521px;
  width: 13px;
  height: 14px;
}
