<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="cadastro-feira">
      <header class="header">
        <img class="line" src="img/Line 5.svg" />
        <div class="logo">
          <div class="text-wrapper">Feira da Lua</div>
          <img
            class="vecteezy-icon-new"
            src="img/Logo.svg"
          />
        </div>
        <div class="barra-de-pesquisa">
          <div class="rectangle"></div>
          <div class="div">O que deseja?</div>
          <img class="search" src="img/search.svg" />
        </div>
        <div class="boto-usurio"><img class="user" src="img/user.svg" /></div>
        <img class="menu" src="img/menu.svg" />
      </header>
      <img class="img" src="img/Line 6.svg" />
      <div class="text-wrapper-2">Nova Feira</div>
      <div class="campo-nome-feira">
        <div class="rectangle-2"></div>
        <div class="text-wrapper-3">Nome da Feira:</div>
        <div class="text-wrapper-4">Nome Exemplo</div>
      </div>
      <div class="div-wrapper"><div class="text-wrapper-5">Localização:</div></div>
      <div class="endereo">
        <div class="campo-cidade">
          <div class="rectangle-3"></div>
          <div class="text-wrapper-6">Cidade</div>
        </div>
        <div class="campo-bairro">
          <div class="rectangle-4"></div>
          <div class="text-wrapper-7">Bairro</div>
        </div>
        <div class="campo-rua">
          <div class="rectangle-3"></div>
          <div class="text-wrapper-6">Rua</div>
        </div>
        <div class="text-wrapper-3">Endereço:</div>
      </div>
      <img class="scrgo" src="img/sCRgO 1.svg" />
    </div>
  </body>
</html>
