.cadastro-feira {
  background-color: #f4f4f4;
  width: 100%;
  min-width: 1920px;
  min-height: 1024px;
  position: relative;
}

.cadastro-feira .header {
  position: absolute;
  top: 16px;
  left: 0;
  width: 1920px;
  height: 98px;
  background-color: transparent;
}

.cadastro-feira .line {
  top: 97px;
  left: 0;
  width: 1920px;
  height: 1px;
  position: absolute;
  object-fit: cover;
}

.cadastro-feira .logo {
  position: absolute;
  top: 0;
  left: 78px;
  width: 225px;
  height: 79px;
  aspect-ratio: 2.82;
}

.cadastro-feira .text-wrapper {
  position: absolute;
  top: 23px;
  left: 73px;
  font-family: "Poppins-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32.5px;
  white-space: nowrap;
}

.cadastro-feira .vecteezy-icon-new {
  position: absolute;
  top: 0;
  left: 0;
  width: 79px;
  height: 79px;
}

.cadastro-feira .barra-de-pesquisa {
  position: absolute;
  top: 12px;
  left: 378px;
  width: 550px;
  height: 55px;
}

.cadastro-feira .rectangle {
  top: 0;
  width: 548px;
  height: 55px;
  border-radius: 100px;
  position: absolute;
  left: 0;
  background-color: #ffffff;
}

.cadastro-feira .div {
  position: absolute;
  top: 14px;
  left: 18px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #00000080;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27.1px;
  white-space: nowrap;
}

.cadastro-feira .search {
  position: absolute;
  top: 8px;
  left: 498px;
  width: 40px;
  height: 40px;
}

.cadastro-feira .boto-usurio {
  position: absolute;
  top: 15px;
  left: 1822px;
  width: 50px;
  height: 50px;
  display: flex;
  background-color: #d9d9d9;
  border-radius: 25px;
}

.cadastro-feira .user {
  margin-top: 4px;
  width: 40px;
  height: 40px;
  margin-left: 5px;
}

.cadastro-feira .menu {
  position: absolute;
  top: 19px;
  left: 30px;
  width: 48px;
  height: 48px;
}

.cadastro-feira .img {
  top: 114px;
  left: 1499px;
  width: 1px;
  height: 910px;
  position: absolute;
  object-fit: cover;
}

.cadastro-feira .text-wrapper-2 {
  position: absolute;
  top: 176px;
  left: 54px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 43.4px;
  white-space: nowrap;
}

.cadastro-feira .campo-nome-feira {
  position: absolute;
  top: 259px;
  left: 72px;
  width: 679px;
  height: 61px;
}

.cadastro-feira .rectangle-2 {
  top: 27px;
  width: 675px;
  height: 34px;
  border: 1px solid;
  border-color: #000000;
  position: absolute;
  left: 0;
  background-color: #ffffff;
}

.cadastro-feira .text-wrapper-3 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27.1px;
  white-space: nowrap;
}

.cadastro-feira .text-wrapper-4 {
  position: absolute;
  top: 30px;
  left: 12px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #00000080;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27.1px;
  white-space: nowrap;
}

.cadastro-feira .div-wrapper {
  position: absolute;
  top: 491px;
  left: 72px;
  width: 126px;
  height: 27px;
  display: flex;
}

.cadastro-feira .text-wrapper-5 {
  width: 124px;
  height: 27px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27.1px;
  white-space: nowrap;
}

.cadastro-feira .endereo {
  position: absolute;
  top: 346px;
  left: 72px;
  width: 677px;
  height: 119px;
}

.cadastro-feira .campo-cidade {
  top: 27px;
  left: 0;
  width: 352px;
  position: absolute;
  height: 34px;
}

.cadastro-feira .rectangle-3 {
  top: 0;
  width: 350px;
  height: 34px;
  border: 1px solid;
  border-color: #000000;
  position: absolute;
  left: 0;
  background-color: #ffffff;
}

.cadastro-feira .text-wrapper-6 {
  position: absolute;
  top: 3px;
  left: 12px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #00000080;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27.1px;
  white-space: nowrap;
}

.cadastro-feira .campo-bairro {
  top: 27px;
  left: 368px;
  width: 309px;
  position: absolute;
  height: 34px;
}

.cadastro-feira .rectangle-4 {
  top: 0;
  width: 307px;
  height: 34px;
  border: 1px solid;
  border-color: #000000;
  position: absolute;
  left: 0;
  background-color: #ffffff;
}

.cadastro-feira .text-wrapper-7 {
  position: absolute;
  top: 3px;
  left: 11px;
  width: 100px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #00000080;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27.1px;
}

.cadastro-feira .campo-rua {
  top: 85px;
  left: 0;
  width: 352px;
  position: absolute;
  height: 34px;
}

.cadastro-feira .scrgo {
  position: absolute;
  top: 518px;
  left: 72px;
  width: 538px;
  height: 326px;
  aspect-ratio: 1.65;
  object-fit: cover;
}
