<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="pgina-de-feiras">
      <div class="info-feira">
        <div class="rectangle"></div>
        <div class="text-wrapper">Feirinha da Ponta</div>
        <p class="div"><span class="span">$</span> <span class="text-wrapper-2">$$</span></p>
        <div class="distncia">
          <img class="map-pin" src="img/Map pin.svg" />
          <div class="text-wrapper-3">2km</div>
        </div>
        <img class="chevron-forward" src="img/chevron_forward.svg" />
        <div class="element-estrelas">
          <img class="star-filled" src="img/star_filled.svg" />
          <img class="img" src="img/star_filled.svg" />
          <img class="star-filled-2" src="img/star_filled.svg" />
          <img class="img-2" src="img/star_filled.svg" />
          <img class="img-3" src="img/star.svg" />
        </div>
      </div>
      <div class="info-feira-2">
        <div class="rectangle"></div>
        <div class="text-wrapper">Feira Azul</div>
        <p class="div"><span class="span">$</span> <span class="text-wrapper-2">$$</span></p>
        <div class="distncia-2">
          <img class="map-pin" src="img/Map pin.svg" />
          <div class="text-wrapper-4">5km</div>
        </div>
        <img class="chevron-forward" src="img/chevron_forward.svg" />
        <div class="element-estrelas">
          <img class="star-filled" src="img/star_filled.svg" />
          <img class="img" src="img/star_filled.svg" />
          <img class="star-filled-2" src="img/star_filled.svg" />
          <img class="img-2" src="img/star.svg" />
          <img class="img-3" src="img/star.svg" />
        </div>
      </div>
      <div class="info-feira-3">
        <div class="rectangle"></div>
        <div class="text-wrapper">Feira Norte Sul</div>
        <p class="div"><span class="span">$$</span> <span class="text-wrapper-2">$</span></p>
        <div class="distncia-2">
          <img class="map-pin" src="img/Map pin.svg" />
          <div class="text-wrapper-4">5km</div>
        </div>
        <img class="chevron-forward" src="img/chevron_forward.svg" />
        <div class="element-estrelas">
          <img class="star-filled" src="img/star_filled.svg" />
          <img class="img" src="img/star_filled.svg" />
          <img class="star-filled-2" src="img/star_filled.svg" />
          <img class="img-2" src="img/star_filled.svg" />
          <img class="img-3" src="img/star_filled.svg" />
        </div>
      </div>
      <img class="union" src="img/union.svg" />
      <header class="header">
        <img class="menu" src="img/menu.svg" />
        <div class="logo">
          <div class="text-wrapper-5">Feira da Lua</div>
          <img
            class="vecteezy-icon-new"
            src="img/Logo.svg"
          />
        </div>
        <div class="barra-de-pesquisa">
          <div class="rectangle-2"></div>
          <div class="text-wrapper-6">O que deseja?</div>
          <img class="search" src="img/search.svg" />
        </div>
        <div class="boto-usurio"><img class="user" src="img/user.svg" /></div>
      </header>
      <div class="filtro-ordenao">
        <div class="rectangle-3"></div>
        <div class="text-wrapper-7">Ordenar por:</div>
        <img class="keyboard-arrow-down" src="img/keyboard_arrow_down.svg" />
      </div>
      <div class="text-wrapper-8">Distância</div>
    </div>
  </body>
</html>
