.pgina-de-feiras {
  background-color: #f4f4f4;
  width: 100%;
  min-width: 1920px;
  min-height: 1024px;
  position: relative;
}

.pgina-de-feiras .info-feira {
  position: absolute;
  top: 315px;
  left: 62px;
  width: 682px;
  height: 103px;
}

.pgina-de-feiras .rectangle {
  top: 0;
  width: 678px;
  height: 103px;
  border: 0.75px solid;
  border-color: #000000;
  position: absolute;
  left: 0;
  background-color: #ffffff;
}

.pgina-de-feiras .text-wrapper {
  position: absolute;
  top: 9px;
  left: 24px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 43.4px;
  white-space: nowrap;
}

.pgina-de-feiras .div {
  position: absolute;
  top: 54px;
  left: 187px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: transparent;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 43.4px;
  white-space: nowrap;
}

.pgina-de-feiras .span {
  color: #38952c;
}

.pgina-de-feiras .text-wrapper-2 {
  color: #38952c40;
}

.pgina-de-feiras .distncia {
  position: absolute;
  top: 54px;
  left: 28px;
  width: 108px;
  height: 43px;
  display: flex;
  gap: 4px;
}

.pgina-de-feiras .map-pin {
  margin-top: 1px;
  width: 35px;
  height: 35px;
}

.pgina-de-feiras .text-wrapper-3 {
  width: 67px;
  height: 43px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #38952c;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 43.4px;
  white-space: nowrap;
}

.pgina-de-feiras .chevron-forward {
  position: absolute;
  top: 24px;
  left: 616px;
  width: 50px;
  height: 50px;
}

.pgina-de-feiras .element-estrelas {
  position: absolute;
  top: 53px;
  left: 286px;
  width: 188px;
  height: 40px;
}

.pgina-de-feiras .star-filled {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
}

.pgina-de-feiras .img {
  left: 37px;
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
}

.pgina-de-feiras .star-filled-2 {
  left: 74px;
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
}

.pgina-de-feiras .img-2 {
  position: absolute;
  top: 0;
  left: 111px;
  width: 40px;
  height: 40px;
}

.pgina-de-feiras .img-3 {
  position: absolute;
  top: 0;
  left: 148px;
  width: 40px;
  height: 40px;
}

.pgina-de-feiras .info-feira-2 {
  top: 437px;
  left: 62px;
  position: absolute;
  width: 682px;
  height: 103px;
}

.pgina-de-feiras .distncia-2 {
  position: absolute;
  top: 54px;
  left: 28px;
  width: 109px;
  height: 43px;
  display: flex;
  gap: 4px;
}

.pgina-de-feiras .text-wrapper-4 {
  width: 68px;
  height: 43px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #38952c;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 43.4px;
  white-space: nowrap;
}

.pgina-de-feiras .info-feira-3 {
  top: 315px;
  left: 782px;
  position: absolute;
  width: 682px;
  height: 103px;
}

.pgina-de-feiras .union {
  position: absolute;
  top: 113px;
  left: 0;
  width: 1920px;
  height: 911px;
}

.pgina-de-feiras .header {
  position: absolute;
  top: 16px;
  left: 30px;
  width: 1842px;
  height: 79px;
  display: flex;
  background-color: transparent;
}

.pgina-de-feiras .menu {
  margin-top: 19px;
  width: 48px;
  height: 48px;
}

.pgina-de-feiras .logo {
  width: 225px;
  height: 79.07px;
  position: relative;
  aspect-ratio: 2.82;
}

.pgina-de-feiras .text-wrapper-5 {
  position: absolute;
  top: 23px;
  left: 73px;
  font-family: "Poppins-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32.5px;
  white-space: nowrap;
}

.pgina-de-feiras .vecteezy-icon-new {
  position: absolute;
  top: 0;
  left: 0;
  width: 79px;
  height: 79px;
}

.pgina-de-feiras .barra-de-pesquisa {
  margin-top: 12px;
  width: 550px;
  height: 55px;
  position: relative;
  margin-left: 75px;
}

.pgina-de-feiras .rectangle-2 {
  top: 0;
  width: 548px;
  height: 55px;
  border-radius: 100px;
  position: absolute;
  left: 0;
  background-color: #ffffff;
}

.pgina-de-feiras .text-wrapper-6 {
  position: absolute;
  top: 14px;
  left: 18px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #00000080;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27.1px;
  white-space: nowrap;
}

.pgina-de-feiras .search {
  position: absolute;
  top: 8px;
  left: 498px;
  width: 40px;
  height: 40px;
}

.pgina-de-feiras .boto-usurio {
  margin-top: 15px;
  width: 50px;
  height: 50px;
  margin-left: 894px;
  display: flex;
  background-color: #ffffff;
  border-radius: 25px;
  border: 1px solid;
  border-color: #000000;
}

.pgina-de-feiras .user {
  margin-top: 4px;
  width: 40px;
  height: 40px;
  margin-left: 5px;
}

.pgina-de-feiras .filtro-ordenao {
  position: absolute;
  top: 220px;
  left: 62px;
  width: 295px;
  height: 61px;
}

.pgina-de-feiras .rectangle-3 {
  top: 27px;
  width: 293px;
  height: 34px;
  border: 1px solid;
  border-color: #000000;
  position: absolute;
  left: 0;
  background-color: #ffffff;
}

.pgina-de-feiras .text-wrapper-7 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27.1px;
  white-space: nowrap;
}

.pgina-de-feiras .keyboard-arrow-down {
  position: absolute;
  top: 33px;
  left: 263px;
  width: 24px;
  height: 24px;
  aspect-ratio: 1;
}

.pgina-de-feiras .text-wrapper-8 {
  position: absolute;
  top: 251px;
  left: 72px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27.1px;
  white-space: nowrap;
}
